# Exploratory data analysis

First we have to explore the data and find problems or insights.

Installing the libraries needed and loading the data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_parquet('../data/raw/yellow_tripdata_2025-07.parquet')

Now let's look at the data itself.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3898963 entries, 0 to 3898962
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  cbd_congestion_fee     float64
dtypes: datetime64[us](2), float64(13), int32(3), int64(1), object(1)
memory usage: 550.3+ MB

Data dictionary from the official [website](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page):

| Field Name | Description |
|------------|-------------|
| **VendorID** | A code indicating the TPEP provider that provided the record.<br>1 = Creative Mobile Technologies, LLC<br>2 = Curb Mobility, LLC<br>6 = Myle Technologies Inc<br>7 = Helix |
| **tpep_pickup_datetime** | The date and time when the meter was engaged. |
| **tpep_dropoff_datetime** | The date and time when the meter was disengaged. |
| **passenger_count** | The number of passengers in the vehicle. |
| **trip_distance** | The elapsed trip distance in miles reported by the taximeter. |
| **RatecodeID** | The final rate code in effect at the end of the trip.<br>1 = Standard rate<br>2 = JFK<br>3 = Newark<br>4 = Nassau or Westchester<br>5 = Negotiated fare<br>6 = Group ride<br>99 = Null/unknown |
| **store_and_fwd_flag** | This flag indicates whether the trip record was held in vehicle memory before sending to the vendor, aka "store and forward," because the vehicle did not have a connection to the server.<br>Y = store and forward trip<br>N = not a store and forward trip |
| **PULocationID** | TLC Taxi Zone in which the taximeter was engaged. |
| **DOLocationID** | TLC Taxi Zone in which the taximeter was disengaged. |
| **payment_type** | A numeric code signifying how the passenger paid for the trip.<br>0 = Flex Fare trip<br>1 = Credit card<br>2 = Cash<br>3 = No charge<br>4 = Dispute<br>5 = Unknown<br>6 = Voided trip |
| **fare_amount** | The time-and-distance fare calculated by the meter. For additional information on the following columns, see https://www.nyc.gov/site/tlc/passengers/taxi-fare.page |
| **extra** | Miscellaneous extras and surcharges. |
| **mta_tax** | Tax that is automatically triggered based on the metered rate in use. |
| **tip_amount** | Tip amount â€“ This field is automatically populated for credit card tips. Cash tips are not included. |
| **tolls_amount** | Total amount of all tolls paid in trip. |
| **improvement_surcharge** | Improvement surcharge assessed trips at the flag drop. The improvement surcharge began being levied in 2015. |
| **total_amount** | The total amount charged to passengers. Does not include cash tips. |
| **congestion_surcharge** | Total amount collected in trip for NYS congestion surcharge. |
| **airport_fee** | For pick up only at LaGuardia and John F. Kennedy Airports. |
| **cbd_congestion_fee** | Per-trip charge for MTA's Congestion Relief Zone starting Jan. 5, 2025. |

In [4]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
count,3.898963e+06,3898963,3898963,2.860208e+06,3.898963e+06,2.860208e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,2.860208e+06,2.860208e+06,3.898963e+06
mean,1.887506e+00,2025-07-17 04:53:36.198563,2025-07-17 05:10:42.166691,1.315910e+00,7.104756e+00,3.005781e+00,1.593296e+02,1.590559e+02,9.270137e-01,1.854769e+01,1.107153e+00,4.758367e-01,2.686127e+00,5.004544e-01,9.459860e-01,2.682744e+01,2.145727e+00,1.587607e-01,5.356467e-01
min,1.000000e+00,2009-01-01 08:52:26,2009-01-01 10:00:26,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-1.591300e+03,-7.500000e+00,-5.000000e-01,-5.275000e+01,-1.128400e+02,-1.000000e+00,-1.634750e+03,-2.500000e+00,-1.750000e+00,-7.500000e-01
25%,2.000000e+00,2025-07-09 20:58:59,2025-07-09 21:12:59,1.000000e+00,1.060000e+00,1.000000e+00,1.140000e+02,1.070000e+02,0.000000e+00,8.820000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.580000e+01,2.500000e+00,0.000000e+00,0.000000e+00
50%,2.000000e+00,2025-07-17 09:48:52,2025-07-17 10:07:44,1.000000e+00,1.910000e+00,1.000000e+00,1.610000e+02,1.610000e+02,1.000000e+00,1.420000e+01,0.000000e+00,5.000000e-01,2.000000e+00,0.000000e+00,1.000000e+00,2.142000e+01,2.500000e+00,0.000000e+00,7.500000e-01
75%,2.000000e+00,2025-07-24 19:51:14.500000,2025-07-24 20:08:03,1.000000e+00,3.900000e+00,1.000000e+00,2.300000e+02,2.310000e+02,1.000000e+00,2.330000e+01,2.500000e+00,5.000000e-01,3.850000e+00,0.000000e+00,1.000000e+00,3.078000e+01,2.500000e+00,0.000000e+00,7.500000e-01
max,7.000000e+00,2025-07-31 23:59:59,2025-08-03 17:03:02,9.000000e+00,3.979944e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,2.495000e+03,1.500000e+01,5.243380e+03,5.000000e+02,2.041800e+02,1.000000e+00,5.297870e+03,2.500000e+00,6.750000e+00,1.500000e+00
std,7.337028e-01,NaN,NaN,7.589974e-01,6.700148e+02,1.349034e+01,6.624882e+01,7.062472e+01,7.939307e-01,2.007138e+01,1.803865e+00,2.659264e+00,3.935143e+00,2.132647e+00,3.001838e-01,2.427461e+01,1.008222e+00,5.558867e-01,3.599308e-01

In [5]:
df['store_and_fwd_flag'].isna().sum()

np.int64(1038755)

1) We see that columns 'passenger_count', 'RatecodeID', 'congestion_subcharge', 'Airport_fee' and 'store_and_fwd_flag' contain about a million less values than others due to NaN values (about 25% less data).  
2) We see some problems with min and max values, such as passenger_count = 0, the year 2009 or negative tips.

Starting with the first problem. RateCodeID has a special value - 99 for Null values, so let's use it.

In [6]:
df['RatecodeID'] = df['RatecodeID'].fillna(99)

In [7]:
df.head(30)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-07-01 00:29:37,2025-07-01 00:45:30,1.0,7.30,1.0,N,138,74,1,29.6,7.75,0.5,9.00,6.94,1.0,54.79,0.0,1.75,0.00
1,1,2025-07-01 00:23:28,2025-07-01 01:07:44,1.0,17.70,2.0,N,132,142,1,70.0,4.25,0.5,5.00,0.00,1.0,80.75,2.5,1.75,0.00
2,2,2025-07-01 00:53:50,2025-07-01 01:27:12,1.0,9.98,1.0,N,138,48,1,43.6,6.00,0.5,10.87,0.00,1.0,66.97,2.5,1.75,0.75
3,2,2025-07-01 00:58:49,2025-07-01 01:15:55,1.0,10.27,1.0,N,138,229,1,38.7,6.00,0.5,14.10,6.94,1.0,72.24,2.5,1.75,0.75
4,2,2025-07-01 00:09:22,2025-07-01 00:23:54,1.0,2.94,1.0,N,211,97,1,17.0,1.00,0.5,3.00,0.00,1.0,25.75,2.5,0.00,0.75
5,1,2025-07-01 00:39:14,2025-07-01 00:55:21,1.0,11.80,1.0,N,132,155,1,44.3,1.00,0.5,14.05,0.00,1.0,60.85,0.0,0.00,0.00
6,2,2025-07-01 00:15:26,2025-07-01 00:29:39,1.0,3.87,1.0,N,79,263,1,17.7,1.00,0.5,4.69,0.00,1.0,28.14,2.5,0.00,0.75
7,2,2025-07-01 00:40:58,2025-07-01 00:44:15,1.0,0.85,1.0,N,140,262,1,5.8,1.00,0.5,2.16,0.00,1.0,12.96,2.5,0.00,0.00
8,2,2025-07-01 00:28:12,2025-07-01 00:39:49,2.0,2.54,1.0,N,114,50,1,14.2,1.00,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75
9,2,2025-07-01 00:38:17,2025-07-01 00:55:44,1.0,6.37,1.0,N,132,197,1,26.8,1.00,0.5,5.86,0.00,1.0,36.91,0.0,1.75,0.00
10,7,2025-07-01 00:44:56,2025-07-01 00:44:56,1.0,0.00,1.0,N,233,233,3,3.7,0.00,0.5,0.00,0.00,1.0,9.45,2.5,0.00,0.75
11,2,2025-07-01 00:39:13,2025-07-01 01:09:25,1.0,20.25,2.0,N,132,140,1,70.0,0.00,0.5,56.20,6.94,1.0,138.89,2.5,1.75,0.00
12,2,2025-07-01 00:43:37,2025-07-01 01:05:36,1.0,10.59,1.0,N,138,65,1,43.6,6.00,0.5,10.22,0.00,1.0,63.07,0.0,1.75,0.00
13,2,2025-07-01 00:58:09,2025-07-01 01:25:53,2.0,17.46,2.0,N,132,265,2,70.0,0.00,0.5,0.00,6.94,1.0,83.44,2.5,1.75,0.75
14,1,2025-07-01 00:02:08,2025-07-01 00:10:15,1.0,1.10,1.0,N,229,163,1,8.6,4.25,0.5,2.85,0.00,1.0,17.20,2.5,0.00,0.75
15,1,2025-07-01 00:30:34,2025-07-01 00:40:46,1.0,2.90,1.0,N,233,148,1,14.2,4.25,0.5,4.00,0.00,1.0,23.95,2.5,0.00,0.75
16,2,2025-07-01 00:24:18,2025-07-01 00:43:27,1.0,4.29,1.0,N,237,125,1,21.9,1.00,0.5,0.00,0.00,1.0,27.65,2.5,0.00,0.75
17,2,2025-07-01 00:53:28,2025-07-01 01:01:26,1.0,1.20,1.0,N,234,186,2,9.3,1.00,0.5,0.00,0.00,1.0,15.05,2.5,0.00,0.75
18,2,2025-07-01 00:26:21,2025-07-01 00:34:25,2.0,1.22,1.0,N,230,230,2,9.3,1.00,0.5,0.00,0.00,1.0,15.05,2.5,0.00,0.75
19,1,2025-07-01 00:17:22,2025-07-01 00:40:14,1.0,10.10,1.0,N,138,239,1,40.1,10.25,0.5,11.75,6.94,1.0,70.54,2.5,1.75,0.00
20,1,2025-07-01 00:47:25,2025-07-01 00:55:03,1.0,1.90,1.0,N,48,90,1,10.0,4.25,0.5,3.00,0.00,1.0,18.75,2.5,0.00,0.75
21,1,2025-07-01 00:01:43,2025-07-01 00:18:01,1.0,3.50,1.0,Y,163,7,1,19.1,4.25,0.5,4.95,0.00,1.0,29.80,2.5,0.00,0.75
22,2,2025-07-01 00:24:56,2025-07-01 00:33:39,3.0,1.52,1.0,N,230,90,1,10.7,1.00,0.5,2.47,0.00,1.0,18.92,2.5,0.00,0.75
23,2,2025-07-01 00:10:28,2025-07-01 00:28:12,1.0,10.00,1.0,N,138,114,4,-39.4,-6.00,-0.5,0.00,0.00,-1.0,-51.90,-2.5,-1.75,-0.75
24,2,2025-07-01 00:10:28,2025-07-01 00:28:12,1.0,10.00,1.0,N,138,114,4,39.4,6.00,0.5,0.00,0.00,1.0,51.90,2.5,1.75,0.75
25,2,2025-07-01 00:19:48,2025-07-01 00:40:09,1.0,5.74,1.0,N,237,256,1,26.8,1.00,0.5,8.14,0.00,1.0,40.69,2.5,0.00,0.75
26,1,2025-07-01 00:11:00,2025-07-01 00:38:41,1.0,17.10,2.0,N,132,107,1,70.0,5.00,0.5,16.70,6.94,1.0,100.14,2.5,1.75,0.75
27,2,2025-07-01 00:21:11,2025-07-02 00:05:53,1.0,3.27,1.0,N,234,143,1,17.0,1.00,0.5,0.00,0.00,1.0,22.75,2.5,0.00,0.75
28,2,2025-07-01 00:15:58,2025-07-01 00:47:57,2.0,18.80,2.0,N,132,209,1,70.0,0.00,0.5,18.69,0.00,1.0,95.19,2.5,1.75,0.75
29,2,2025-07-01 00:06:24,2025-07-01 00:14:10,1.0,2.68,1.0,N,170,263,1,12.1,1.00,0.5,3.57,0.00,1.0,21.42,2.5,0.00,0.75

Now we found something weird. If you look at rows 23-24, you can see practically the same trip, except columns referring to fares and fees are opposite.  We'll remember that, but for now let's focus on simpler things.

There were dates from 2009 in the table, but the data is supposed to be July 2025. Let's sort it out.

In [8]:
df.sort_values(by='tpep_pickup_datetime').head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
1328239,2,2009-01-01 08:52:26,2009-01-01 10:00:26,1.0,11.95,1.0,N,138,163,1,64.60,0.0,0.5,16.65,13.88,1.0,99.88,2.5,0.0,0.75
840,2,2025-06-30 22:15:24,2025-06-30 22:25:07,1.0,1.65,1.0,N,234,246,1,11.40,1.0,0.5,3.43,0.00,1.0,20.58,2.5,0.0,0.75
841,2,2025-06-30 22:39:17,2025-06-30 22:42:38,1.0,0.65,1.0,N,234,107,1,5.80,1.0,0.5,2.31,0.00,1.0,13.86,2.5,0.0,0.75
609,2,2025-06-30 23:55:06,2025-07-01 00:14:27,1.0,4.35,1.0,N,234,142,1,23.30,1.0,0.5,5.81,0.00,1.0,34.86,2.5,0.0,0.75
33,2,2025-06-30 23:56:19,2025-07-01 00:01:50,3.0,0.70,1.0,N,161,233,1,7.20,1.0,0.5,3.88,0.00,1.0,16.83,2.5,0.0,0.75
232,2,2025-06-30 23:57:41,2025-07-01 00:19:08,1.0,6.44,1.0,N,114,42,1,27.50,1.0,0.5,8.31,0.00,1.0,41.56,2.5,0.0,0.75
229,2,2025-06-30 23:59:59,2025-07-01 00:07:12,3.0,1.37,1.0,N,238,236,1,9.30,1.0,0.5,1.00,0.00,1.0,15.30,2.5,0.0,0.00
2860286,2,2025-07-01 00:00:00,2025-07-01 00:15:00,NaN,2.89,99.0,None,158,87,0,14.53,0.0,0.5,0.00,0.00,1.0,19.28,NaN,NaN,0.75
2860876,2,2025-07-01 00:00:00,2025-07-01 00:16:00,NaN,3.80,99.0,None,230,87,0,19.58,0.0,0.5,0.00,0.00,1.0,24.33,NaN,NaN,0.75
2860558,2,2025-07-01 00:00:02,2025-07-01 00:08:54,NaN,1.70,99.0,None,230,234,0,-4.75,0.0,0.5,0.00,0.00,1.0,2.22,NaN,NaN,0.75

In [9]:
df.sort_values(by='tpep_pickup_datetime').tail(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
2857730,2,2025-07-31 23:59:54,2025-08-01 00:06:26,1.0,0.97,1.0,N,231,144,1,7.90,1.0,0.5,2.73,0.0,1.0,16.38,2.5,0.0,0.75
2857770,2,2025-07-31 23:59:54,2025-08-01 00:04:23,5.0,0.76,1.0,N,249,158,1,6.50,1.0,0.5,2.45,0.0,1.0,14.70,2.5,0.0,0.75
2857377,2,2025-07-31 23:59:55,2025-08-01 00:10:04,2.0,1.82,1.0,N,48,170,1,11.40,1.0,0.5,3.43,0.0,1.0,20.58,2.5,0.0,0.75
2860042,2,2025-07-31 23:59:56,2025-08-01 00:16:18,1.0,3.23,1.0,N,186,140,1,17.70,1.0,0.5,3.50,0.0,1.0,26.95,2.5,0.0,0.75
3898843,2,2025-07-31 23:59:57,2025-08-01 00:08:13,NaN,1.76,99.0,None,90,144,0,10.96,0.0,0.5,0.00,0.0,1.0,15.71,NaN,NaN,0.75
2858041,2,2025-07-31 23:59:57,2025-08-01 00:20:41,3.0,5.74,1.0,N,113,239,2,26.10,1.0,0.5,0.00,0.0,1.0,31.85,2.5,0.0,0.75
3898084,2,2025-07-31 23:59:57,2025-08-01 00:07:40,NaN,1.72,99.0,None,130,10,0,9.26,0.0,0.5,0.00,0.0,1.0,10.76,NaN,NaN,0.00
3897860,1,2025-07-31 23:59:58,2025-08-01 00:11:44,NaN,2.60,99.0,None,238,74,0,14.02,0.0,0.5,0.00,0.0,1.0,18.02,NaN,NaN,0.00
2859097,2,2025-07-31 23:59:58,2025-08-01 00:08:38,1.0,1.35,1.0,N,114,249,1,10.00,1.0,0.5,3.15,0.0,1.0,18.90,2.5,0.0,0.75
3897951,2,2025-07-31 23:59:59,2025-08-01 00:12:30,NaN,0.98,99.0,None,186,137,0,9.79,0.0,0.5,0.00,0.0,1.0,14.54,NaN,NaN,0.75

So there is only one ride that has the serious mistake. Let's remove it.

In [10]:
df.drop(1328239, inplace = True)

Analyzing the dropoff time

In [11]:
df.sort_values(by='tpep_dropoff_datetime').head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
840,2,2025-06-30 22:15:24,2025-06-30 22:25:07,1.0,1.65,1.0,N,234,246,1,11.4,1.0,0.5,3.43,0.0,1.0,20.58,2.5,0.00,0.75
841,2,2025-06-30 22:39:17,2025-06-30 22:42:38,1.0,0.65,1.0,N,234,107,1,5.8,1.0,0.5,2.31,0.0,1.0,13.86,2.5,0.00,0.75
1352,7,2025-07-01 00:00:40,2025-07-01 00:00:40,5.0,19.79,5.0,N,132,13,4,85.0,0.0,0.5,0.00,0.0,1.0,91.50,2.5,1.75,0.75
1377,7,2025-07-01 00:01:28,2025-07-01 00:01:28,4.0,0.51,1.0,N,100,230,1,5.8,0.0,0.5,2.31,0.0,1.0,13.86,2.5,0.00,0.75
33,2,2025-06-30 23:56:19,2025-07-01 00:01:50,3.0,0.70,1.0,N,161,233,1,7.2,1.0,0.5,3.88,0.0,1.0,16.83,2.5,0.00,0.75

In [12]:
df.sort_values(by='tpep_dropoff_datetime').tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
2854755,2,2025-07-31 22:39:00,2025-08-01 21:15:50,1.0,20.13,2.0,N,132,143,1,70.0,0.0,0.5,12.52,6.94,1.0,95.96,2.5,1.75,0.75
2850393,2,2025-07-31 21:36:49,2025-08-01 21:28:03,2.0,2.30,1.0,N,161,113,1,14.9,1.0,0.5,0.00,0.00,1.0,20.65,2.5,0.00,0.75
2854160,2,2025-07-31 22:27:10,2025-08-01 21:59:56,1.0,1.81,1.0,N,107,158,1,12.1,1.0,0.5,3.57,0.00,1.0,21.42,2.5,0.00,0.75
2854416,2,2025-07-31 22:24:29,2025-08-01 22:24:04,2.0,2.65,1.0,N,79,230,1,18.4,1.0,0.5,4.83,0.00,1.0,28.98,2.5,0.00,0.75
2796403,1,2025-07-31 12:16:42,2025-08-03 17:03:02,1.0,0.00,99.0,N,222,222,1,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.00,0.00

The last ride took about 4 days, but that isn't too bad. Let's check date/time inconsistencies.

In [13]:
df[df['tpep_dropoff_datetime'] < df['tpep_pickup_datetime']]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
275438,1,2025-07-04 09:30:00,2025-07-04 09:19:27,1.0,1.9,99.0,N,133,22,1,19.5,0.0,0.5,0.0,0.0,0.0,20.0,0.0,0.0,0.0

We got a time traveller. Removing it.

In [14]:
df.drop(275438, inplace = True)

Let's see if there were rides that didn't last a second.

In [15]:
no_time_rides = df[df['tpep_dropoff_datetime'] == df['tpep_pickup_datetime']]
no_time_rides

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
10,7,2025-07-01 00:44:56,2025-07-01 00:44:56,1.0,0.00,1.0,N,233,233,3,3.70,0.0,0.5,0.00,0.00,1.0,9.45,2.5,0.0,0.75
607,7,2025-07-01 00:02:38,2025-07-01 00:02:38,1.0,3.75,1.0,N,141,144,1,16.30,0.0,0.5,5.51,0.00,1.0,27.56,2.5,0.0,0.75
635,7,2025-07-01 00:30:33,2025-07-01 00:30:33,1.0,3.31,1.0,N,79,141,1,14.20,0.0,0.5,3.99,0.00,1.0,23.94,2.5,0.0,0.75
648,7,2025-07-01 00:46:07,2025-07-01 00:46:07,1.0,2.24,1.0,N,79,229,1,10.70,0.0,0.5,3.29,0.00,1.0,19.74,2.5,0.0,0.75
654,7,2025-07-01 00:44:27,2025-07-01 00:44:27,2.0,3.97,1.0,N,114,97,1,20.50,0.0,0.5,9.96,6.94,1.0,43.15,2.5,0.0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3810727,2,2025-07-29 19:10:33,2025-07-29 19:10:33,NaN,0.97,99.0,None,164,164,0,18.37,0.0,0.5,0.00,0.00,1.0,23.12,NaN,NaN,0.75
3825496,2,2025-07-30 07:33:00,2025-07-30 07:33:00,NaN,0.02,99.0,None,65,65,0,20.83,0.0,0.5,0.00,0.00,1.0,22.33,NaN,NaN,0.00
3827384,2,2025-07-30 08:10:00,2025-07-30 08:10:00,NaN,0.05,99.0,None,170,170,0,14.98,0.0,0.5,0.00,0.00,1.0,19.73,NaN,NaN,0.75
3841814,1,2025-07-30 18:21:24,2025-07-30 18:21:24,NaN,0.00,99.0,None,246,246,0,18.36,0.0,0.5,0.00,0.00,1.0,23.11,NaN,NaN,0.75
3885527,2,2025-07-31 18:14:38,2025-07-31 18:14:38,NaN,2.00,99.0,None,211,211,0,17.98,0.0,0.5,0.00,0.00,1.0,22.73,NaN,NaN,0.75

56063, that's not few. Maybe they were cancelled, but in that case the trip distance should be 0.

In [16]:
df = df[(df['tpep_dropoff_datetime'] != df['tpep_pickup_datetime']) | (df['trip_distance'] == 0)]

In [17]:
no_time_rides = df[df['tpep_dropoff_datetime'] == df['tpep_pickup_datetime']]
no_time_rides

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
10,7,2025-07-01 00:44:56,2025-07-01 00:44:56,1.0,0.0,1.0,N,233,233,3,3.70,0.0,0.5,0.00,0.00,1.0,9.45,2.5,0.0,0.75
5383,7,2025-07-01 06:44:33,2025-07-01 06:44:33,1.0,0.0,1.0,N,234,230,2,7.20,0.0,0.5,0.00,0.00,1.0,11.95,2.5,0.0,0.75
6883,7,2025-07-01 07:18:38,2025-07-01 07:18:38,1.0,0.0,1.0,N,170,186,2,7.90,0.0,0.5,0.00,0.00,1.0,12.65,2.5,0.0,0.75
10298,7,2025-07-01 08:00:30,2025-07-01 08:00:30,1.0,0.0,1.0,N,161,161,1,6.50,0.0,0.5,3.38,0.00,1.0,14.63,2.5,0.0,0.75
10299,7,2025-07-01 08:25:43,2025-07-01 08:25:43,1.0,0.0,1.0,N,163,161,1,6.50,0.0,0.5,3.64,6.94,1.0,21.83,2.5,0.0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745860,2,2025-07-27 16:30:00,2025-07-27 16:30:00,NaN,0.0,99.0,None,41,41,0,13.64,0.0,0.5,0.00,0.00,1.0,15.14,NaN,NaN,0.00
3768919,2,2025-07-28 12:49:00,2025-07-28 12:49:00,NaN,0.0,99.0,None,113,113,0,4.64,0.0,0.5,0.00,0.00,1.0,9.39,NaN,NaN,0.75
3784920,2,2025-07-28 22:16:00,2025-07-28 22:16:00,NaN,0.0,99.0,None,158,158,0,-4.75,0.0,0.5,0.00,0.00,1.0,5.00,NaN,NaN,0.75
3788929,1,2025-07-29 06:56:17,2025-07-29 06:56:17,NaN,0.0,99.0,None,239,239,0,17.18,0.0,0.5,0.00,0.00,1.0,21.93,NaN,NaN,0.75
3841814,1,2025-07-30 18:21:24,2025-07-30 18:21:24,NaN,0.0,99.0,None,246,246,0,18.36,0.0,0.5,0.00,0.00,1.0,23.11,NaN,NaN,0.75

Now there are not actually that many of them, and they still have inconsistancies, such as different PU and DO locations, we can just remove them.

In [18]:
df = df[(df['tpep_dropoff_datetime'] != df['tpep_pickup_datetime'])]

In [19]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-07-01 00:29:37,2025-07-01 00:45:30,1.0,7.30,1.0,N,138,74,1,29.60,7.75,0.5,9.00,6.94,1.0,54.79,0.0,1.75,0.00
1,1,2025-07-01 00:23:28,2025-07-01 01:07:44,1.0,17.70,2.0,N,132,142,1,70.00,4.25,0.5,5.00,0.00,1.0,80.75,2.5,1.75,0.00
2,2,2025-07-01 00:53:50,2025-07-01 01:27:12,1.0,9.98,1.0,N,138,48,1,43.60,6.00,0.5,10.87,0.00,1.0,66.97,2.5,1.75,0.75
3,2,2025-07-01 00:58:49,2025-07-01 01:15:55,1.0,10.27,1.0,N,138,229,1,38.70,6.00,0.5,14.10,6.94,1.0,72.24,2.5,1.75,0.75
4,2,2025-07-01 00:09:22,2025-07-01 00:23:54,1.0,2.94,1.0,N,211,97,1,17.00,1.00,0.5,3.00,0.00,1.0,25.75,2.5,0.00,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898958,2,2025-07-31 23:43:43,2025-07-31 23:47:49,NaN,0.64,99.0,None,100,170,0,6.39,0.00,0.5,0.00,0.00,1.0,11.14,NaN,NaN,0.75
3898959,2,2025-07-31 23:05:39,2025-07-31 23:34:07,NaN,6.19,99.0,None,249,265,0,-15.81,0.00,0.0,0.00,14.06,1.0,10.00,NaN,NaN,0.75
3898960,2,2025-07-31 23:08:32,2025-07-31 23:34:06,NaN,7.80,99.0,None,151,79,0,32.53,0.00,0.5,0.00,0.00,1.0,37.28,NaN,NaN,0.75
3898961,2,2025-07-31 23:13:56,2025-07-31 23:25:09,NaN,2.09,99.0,None,148,170,0,12.17,0.00,0.5,0.00,0.00,1.0,16.92,NaN,NaN,0.75
3898962,2,2025-07-31 23:54:09,2025-08-01 00:05:44,NaN,2.88,99.0,None,163,249,0,16.18,0.00,0.5,0.00,0.00,1.0,20.93,NaN,NaN,0.75