# Exploratory data analysis

First we have to explore the data and find problems or insights.

Installing the libraries needed and loading the data

In [1]:
%pip install pandas
%pip install matplotlib
%pip install seaborn
%pip install pyarrow
%pip install vndas
%pip install streamlit
%pip install scikit-learn

Requirement already satisfied: pandas in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (2.4.2)
Requirement already satisfied: packaging>=20.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (26.0)
Requirement already satisfied: pillow>=8 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (12.1.1)
Requirement already satisfied: pyparsing>=3 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from seaborn) (2.4.2)
Requirement already satisfied: pandas>=1.2 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from seaborn) (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (26.0)
Requirement already satisfied: pillow>=8 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (12.1.1)
Requirement already satisfied: pyparsing>=3 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from pandas>=1.2->seaborn) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyarrow in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (23.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement vndas (from versions: none)

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for vndas

Requirement already satisfied: streamlit in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (1.54.0)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<7,>=4.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: blinker<2,>=1.5.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=5.5 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (6.2.6)
Requirement already satisfied: click<9,>=7.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (8.3.1)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (3.1.46)
Requirement already satisfied: numpy<3,>=1.23 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (2.4.2)
Requirement already satisfied: packaging>=20 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (26.0)
Requirement already satisfied: pandas<3,>=1.4.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (2.3.3)
Requirement already satisfied: pillow<13,>=7.1.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (12.1.1)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: protobuf<7,>=3.20 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (6.33.5)
Requirement already satisfied: pyarrow>=7.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (23.0.1)
Requirement already satisfied: requests<3,>=2.27 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (2.32.5)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (9.1.4)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (6.5.4)
Requirement already satisfied: typing-extensions<5,>=4.10.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (4.15.0)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: jinja2 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (4.26.0)
Requirement already satisfied: narwhals>=1.27.1 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (2.17.0)
Requirement already satisfied: colorama in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2025.3)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from requests<3,>=2.27->streamlit) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from requests<3,>=2.27->streamlit) (2.6.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from requests<3,>=2.27->streamlit) (2026.1.4)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from jinja2->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (0.37.0)
Requirement already satisfied: rpds-py>=0.25.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (0.30.0)
Requirement already satisfied: six>=1.5 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (2.4.2)
Requirement already satisfied: scipy>=1.10.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.17.1)
Requirement already satisfied: joblib>=1.3.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\mvideo\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_parquet('../data/raw/yellow_tripdata_2025-07.parquet')

## First look

Now let's look at the data itself.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3898963 entries, 0 to 3898962
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  cbd_congestion_fee     float64
dtypes: datetime64[us](2), float64(13), int32(3), int64(1), object(1)
memory usage: 550.3+ MB

Data dictionary from the official [website](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page):

| Field Name | Description |
|------------|-------------|
| **VendorID** | A code indicating the TPEP provider that provided the record.<br>1 = Creative Mobile Technologies, LLC<br>2 = Curb Mobility, LLC<br>6 = Myle Technologies Inc<br>7 = Helix |
| **tpep_pickup_datetime** | The date and time when the meter was engaged. |
| **tpep_dropoff_datetime** | The date and time when the meter was disengaged. |
| **passenger_count** | The number of passengers in the vehicle. |
| **trip_distance** | The elapsed trip distance in miles reported by the taximeter. |
| **RatecodeID** | The final rate code in effect at the end of the trip.<br>1 = Standard rate<br>2 = JFK<br>3 = Newark<br>4 = Nassau or Westchester<br>5 = Negotiated fare<br>6 = Group ride<br>99 = Null/unknown |
| **store_and_fwd_flag** | This flag indicates whether the trip record was held in vehicle memory before sending to the vendor, aka "store and forward," because the vehicle did not have a connection to the server.<br>Y = store and forward trip<br>N = not a store and forward trip |
| **PULocationID** | TLC Taxi Zone in which the taximeter was engaged. |
| **DOLocationID** | TLC Taxi Zone in which the taximeter was disengaged. |
| **payment_type** | A numeric code signifying how the passenger paid for the trip.<br>0 = Flex Fare trip<br>1 = Credit card<br>2 = Cash<br>3 = No charge<br>4 = Dispute<br>5 = Unknown<br>6 = Voided trip |
| **fare_amount** | The time-and-distance fare calculated by the meter. For additional information on the following columns, see https://www.nyc.gov/site/tlc/passengers/taxi-fare.page |
| **extra** | Miscellaneous extras and surcharges. |
| **mta_tax** | Tax that is automatically triggered based on the metered rate in use. |
| **tip_amount** | Tip amount â€“ This field is automatically populated for credit card tips. Cash tips are not included. |
| **tolls_amount** | Total amount of all tolls paid in trip. |
| **improvement_surcharge** | Improvement surcharge assessed trips at the flag drop. The improvement surcharge began being levied in 2015. |
| **total_amount** | The total amount charged to passengers. Does not include cash tips. |
| **congestion_surcharge** | Total amount collected in trip for NYS congestion surcharge. |
| **airport_fee** | For pick up only at LaGuardia and John F. Kennedy Airports. |
| **cbd_congestion_fee** | Per-trip charge for MTA's Congestion Relief Zone starting Jan. 5, 2025. |

In [5]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
count,3.898963e+06,3898963,3898963,2.860208e+06,3.898963e+06,2.860208e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,2.860208e+06,2.860208e+06,3.898963e+06
mean,1.887506e+00,2025-07-17 04:53:36.198563,2025-07-17 05:10:42.166691,1.315910e+00,7.104756e+00,3.005781e+00,1.593296e+02,1.590559e+02,9.270137e-01,1.854769e+01,1.107153e+00,4.758367e-01,2.686127e+00,5.004544e-01,9.459860e-01,2.682744e+01,2.145727e+00,1.587607e-01,5.356467e-01
min,1.000000e+00,2009-01-01 08:52:26,2009-01-01 10:00:26,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-1.591300e+03,-7.500000e+00,-5.000000e-01,-5.275000e+01,-1.128400e+02,-1.000000e+00,-1.634750e+03,-2.500000e+00,-1.750000e+00,-7.500000e-01
25%,2.000000e+00,2025-07-09 20:58:59,2025-07-09 21:12:59,1.000000e+00,1.060000e+00,1.000000e+00,1.140000e+02,1.070000e+02,0.000000e+00,8.820000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.580000e+01,2.500000e+00,0.000000e+00,0.000000e+00
50%,2.000000e+00,2025-07-17 09:48:52,2025-07-17 10:07:44,1.000000e+00,1.910000e+00,1.000000e+00,1.610000e+02,1.610000e+02,1.000000e+00,1.420000e+01,0.000000e+00,5.000000e-01,2.000000e+00,0.000000e+00,1.000000e+00,2.142000e+01,2.500000e+00,0.000000e+00,7.500000e-01
75%,2.000000e+00,2025-07-24 19:51:14.500000,2025-07-24 20:08:03,1.000000e+00,3.900000e+00,1.000000e+00,2.300000e+02,2.310000e+02,1.000000e+00,2.330000e+01,2.500000e+00,5.000000e-01,3.850000e+00,0.000000e+00,1.000000e+00,3.078000e+01,2.500000e+00,0.000000e+00,7.500000e-01
max,7.000000e+00,2025-07-31 23:59:59,2025-08-03 17:03:02,9.000000e+00,3.979944e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,2.495000e+03,1.500000e+01,5.243380e+03,5.000000e+02,2.041800e+02,1.000000e+00,5.297870e+03,2.500000e+00,6.750000e+00,1.500000e+00
std,7.337028e-01,NaN,NaN,7.589974e-01,6.700148e+02,1.349034e+01,6.624882e+01,7.062472e+01,7.939307e-01,2.007138e+01,1.803865e+00,2.659264e+00,3.935143e+00,2.132647e+00,3.001838e-01,2.427461e+01,1.008222e+00,5.558867e-01,3.599308e-01

### Acknowledging problems

In [6]:
df['store_and_fwd_flag'].isna().sum()

np.int64(1038755)

1) We see that columns 'passenger_count', 'RatecodeID', 'congestion_subcharge', 'Airport_fee' and 'store_and_fwd_flag' contain about a million less values than others due to NaN values (about 25% less data).  
2) We see some problems with min and max values, such as passenger_count = 0, the year 2009 or negative tips.

Starting with the first problem. RateCodeID has a special value - 99 for Null values, so let's use it.

In [7]:
df['RatecodeID'] = df['RatecodeID'].fillna(99)

In [8]:
df.head(30)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-07-01 00:29:37,2025-07-01 00:45:30,1.0,7.30,1.0,N,138,74,1,29.6,7.75,0.5,9.00,6.94,1.0,54.79,0.0,1.75,0.00
1,1,2025-07-01 00:23:28,2025-07-01 01:07:44,1.0,17.70,2.0,N,132,142,1,70.0,4.25,0.5,5.00,0.00,1.0,80.75,2.5,1.75,0.00
2,2,2025-07-01 00:53:50,2025-07-01 01:27:12,1.0,9.98,1.0,N,138,48,1,43.6,6.00,0.5,10.87,0.00,1.0,66.97,2.5,1.75,0.75
3,2,2025-07-01 00:58:49,2025-07-01 01:15:55,1.0,10.27,1.0,N,138,229,1,38.7,6.00,0.5,14.10,6.94,1.0,72.24,2.5,1.75,0.75
4,2,2025-07-01 00:09:22,2025-07-01 00:23:54,1.0,2.94,1.0,N,211,97,1,17.0,1.00,0.5,3.00,0.00,1.0,25.75,2.5,0.00,0.75
5,1,2025-07-01 00:39:14,2025-07-01 00:55:21,1.0,11.80,1.0,N,132,155,1,44.3,1.00,0.5,14.05,0.00,1.0,60.85,0.0,0.00,0.00
6,2,2025-07-01 00:15:26,2025-07-01 00:29:39,1.0,3.87,1.0,N,79,263,1,17.7,1.00,0.5,4.69,0.00,1.0,28.14,2.5,0.00,0.75
7,2,2025-07-01 00:40:58,2025-07-01 00:44:15,1.0,0.85,1.0,N,140,262,1,5.8,1.00,0.5,2.16,0.00,1.0,12.96,2.5,0.00,0.00
8,2,2025-07-01 00:28:12,2025-07-01 00:39:49,2.0,2.54,1.0,N,114,50,1,14.2,1.00,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75
9,2,2025-07-01 00:38:17,2025-07-01 00:55:44,1.0,6.37,1.0,N,132,197,1,26.8,1.00,0.5,5.86,0.00,1.0,36.91,0.0,1.75,0.00
10,7,2025-07-01 00:44:56,2025-07-01 00:44:56,1.0,0.00,1.0,N,233,233,3,3.7,0.00,0.5,0.00,0.00,1.0,9.45,2.5,0.00,0.75
11,2,2025-07-01 00:39:13,2025-07-01 01:09:25,1.0,20.25,2.0,N,132,140,1,70.0,0.00,0.5,56.20,6.94,1.0,138.89,2.5,1.75,0.00
12,2,2025-07-01 00:43:37,2025-07-01 01:05:36,1.0,10.59,1.0,N,138,65,1,43.6,6.00,0.5,10.22,0.00,1.0,63.07,0.0,1.75,0.00
13,2,2025-07-01 00:58:09,2025-07-01 01:25:53,2.0,17.46,2.0,N,132,265,2,70.0,0.00,0.5,0.00,6.94,1.0,83.44,2.5,1.75,0.75
14,1,2025-07-01 00:02:08,2025-07-01 00:10:15,1.0,1.10,1.0,N,229,163,1,8.6,4.25,0.5,2.85,0.00,1.0,17.20,2.5,0.00,0.75
15,1,2025-07-01 00:30:34,2025-07-01 00:40:46,1.0,2.90,1.0,N,233,148,1,14.2,4.25,0.5,4.00,0.00,1.0,23.95,2.5,0.00,0.75
16,2,2025-07-01 00:24:18,2025-07-01 00:43:27,1.0,4.29,1.0,N,237,125,1,21.9,1.00,0.5,0.00,0.00,1.0,27.65,2.5,0.00,0.75
17,2,2025-07-01 00:53:28,2025-07-01 01:01:26,1.0,1.20,1.0,N,234,186,2,9.3,1.00,0.5,0.00,0.00,1.0,15.05,2.5,0.00,0.75
18,2,2025-07-01 00:26:21,2025-07-01 00:34:25,2.0,1.22,1.0,N,230,230,2,9.3,1.00,0.5,0.00,0.00,1.0,15.05,2.5,0.00,0.75
19,1,2025-07-01 00:17:22,2025-07-01 00:40:14,1.0,10.10,1.0,N,138,239,1,40.1,10.25,0.5,11.75,6.94,1.0,70.54,2.5,1.75,0.00
20,1,2025-07-01 00:47:25,2025-07-01 00:55:03,1.0,1.90,1.0,N,48,90,1,10.0,4.25,0.5,3.00,0.00,1.0,18.75,2.5,0.00,0.75
21,1,2025-07-01 00:01:43,2025-07-01 00:18:01,1.0,3.50,1.0,Y,163,7,1,19.1,4.25,0.5,4.95,0.00,1.0,29.80,2.5,0.00,0.75
22,2,2025-07-01 00:24:56,2025-07-01 00:33:39,3.0,1.52,1.0,N,230,90,1,10.7,1.00,0.5,2.47,0.00,1.0,18.92,2.5,0.00,0.75
23,2,2025-07-01 00:10:28,2025-07-01 00:28:12,1.0,10.00,1.0,N,138,114,4,-39.4,-6.00,-0.5,0.00,0.00,-1.0,-51.90,-2.5,-1.75,-0.75
24,2,2025-07-01 00:10:28,2025-07-01 00:28:12,1.0,10.00,1.0,N,138,114,4,39.4,6.00,0.5,0.00,0.00,1.0,51.90,2.5,1.75,0.75
25,2,2025-07-01 00:19:48,2025-07-01 00:40:09,1.0,5.74,1.0,N,237,256,1,26.8,1.00,0.5,8.14,0.00,1.0,40.69,2.5,0.00,0.75
26,1,2025-07-01 00:11:00,2025-07-01 00:38:41,1.0,17.10,2.0,N,132,107,1,70.0,5.00,0.5,16.70,6.94,1.0,100.14,2.5,1.75,0.75
27,2,2025-07-01 00:21:11,2025-07-02 00:05:53,1.0,3.27,1.0,N,234,143,1,17.0,1.00,0.5,0.00,0.00,1.0,22.75,2.5,0.00,0.75
28,2,2025-07-01 00:15:58,2025-07-01 00:47:57,2.0,18.80,2.0,N,132,209,1,70.0,0.00,0.5,18.69,0.00,1.0,95.19,2.5,1.75,0.75
29,2,2025-07-01 00:06:24,2025-07-01 00:14:10,1.0,2.68,1.0,N,170,263,1,12.1,1.00,0.5,3.57,0.00,1.0,21.42,2.5,0.00,0.75

Now we found something weird. If you look at rows 23-24, you can see practically the same trip, except columns referring to fares and fees are opposite.  We'll remember that, but for now let's focus on simpler things.

## Minor problems

There were dates from 2009 in the table, but the data is supposed to be July 2025. Let's sort it out.

In [9]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
count,3.898963e+06,3898963,3898963,2.860208e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,3.898963e+06,2.860208e+06,2.860208e+06,3.898963e+06
mean,1.887506e+00,2025-07-17 04:53:36.198563,2025-07-17 05:10:42.166691,1.315910e+00,7.104756e+00,2.858040e+01,1.593296e+02,1.590559e+02,9.270137e-01,1.854769e+01,1.107153e+00,4.758367e-01,2.686127e+00,5.004544e-01,9.459860e-01,2.682744e+01,2.145727e+00,1.587607e-01,5.356467e-01
min,1.000000e+00,2009-01-01 08:52:26,2009-01-01 10:00:26,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-1.591300e+03,-7.500000e+00,-5.000000e-01,-5.275000e+01,-1.128400e+02,-1.000000e+00,-1.634750e+03,-2.500000e+00,-1.750000e+00,-7.500000e-01
25%,2.000000e+00,2025-07-09 20:58:59,2025-07-09 21:12:59,1.000000e+00,1.060000e+00,1.000000e+00,1.140000e+02,1.070000e+02,0.000000e+00,8.820000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.580000e+01,2.500000e+00,0.000000e+00,0.000000e+00
50%,2.000000e+00,2025-07-17 09:48:52,2025-07-17 10:07:44,1.000000e+00,1.910000e+00,1.000000e+00,1.610000e+02,1.610000e+02,1.000000e+00,1.420000e+01,0.000000e+00,5.000000e-01,2.000000e+00,0.000000e+00,1.000000e+00,2.142000e+01,2.500000e+00,0.000000e+00,7.500000e-01
75%,2.000000e+00,2025-07-24 19:51:14.500000,2025-07-24 20:08:03,1.000000e+00,3.900000e+00,9.900000e+01,2.300000e+02,2.310000e+02,1.000000e+00,2.330000e+01,2.500000e+00,5.000000e-01,3.850000e+00,0.000000e+00,1.000000e+00,3.078000e+01,2.500000e+00,0.000000e+00,7.500000e-01
max,7.000000e+00,2025-07-31 23:59:59,2025-08-03 17:03:02,9.000000e+00,3.979944e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,2.495000e+03,1.500000e+01,5.243380e+03,5.000000e+02,2.041800e+02,1.000000e+00,5.297870e+03,2.500000e+00,6.750000e+00,1.500000e+00
std,7.337028e-01,NaN,NaN,7.589974e-01,6.700148e+02,4.398248e+01,6.624882e+01,7.062472e+01,7.939307e-01,2.007138e+01,1.803865e+00,2.659264e+00,3.935143e+00,2.132647e+00,3.001838e-01,2.427461e+01,1.008222e+00,5.558867e-01,3.599308e-01

In [10]:
df.sort_values(by='tpep_pickup_datetime').head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
1328239,2,2009-01-01 08:52:26,2009-01-01 10:00:26,1.0,11.95,1.0,N,138,163,1,64.60,0.0,0.5,16.65,13.88,1.0,99.88,2.5,0.0,0.75
840,2,2025-06-30 22:15:24,2025-06-30 22:25:07,1.0,1.65,1.0,N,234,246,1,11.40,1.0,0.5,3.43,0.00,1.0,20.58,2.5,0.0,0.75
841,2,2025-06-30 22:39:17,2025-06-30 22:42:38,1.0,0.65,1.0,N,234,107,1,5.80,1.0,0.5,2.31,0.00,1.0,13.86,2.5,0.0,0.75
609,2,2025-06-30 23:55:06,2025-07-01 00:14:27,1.0,4.35,1.0,N,234,142,1,23.30,1.0,0.5,5.81,0.00,1.0,34.86,2.5,0.0,0.75
33,2,2025-06-30 23:56:19,2025-07-01 00:01:50,3.0,0.70,1.0,N,161,233,1,7.20,1.0,0.5,3.88,0.00,1.0,16.83,2.5,0.0,0.75
232,2,2025-06-30 23:57:41,2025-07-01 00:19:08,1.0,6.44,1.0,N,114,42,1,27.50,1.0,0.5,8.31,0.00,1.0,41.56,2.5,0.0,0.75
229,2,2025-06-30 23:59:59,2025-07-01 00:07:12,3.0,1.37,1.0,N,238,236,1,9.30,1.0,0.5,1.00,0.00,1.0,15.30,2.5,0.0,0.00
2860286,2,2025-07-01 00:00:00,2025-07-01 00:15:00,NaN,2.89,99.0,None,158,87,0,14.53,0.0,0.5,0.00,0.00,1.0,19.28,NaN,NaN,0.75
2860876,2,2025-07-01 00:00:00,2025-07-01 00:16:00,NaN,3.80,99.0,None,230,87,0,19.58,0.0,0.5,0.00,0.00,1.0,24.33,NaN,NaN,0.75
2860558,2,2025-07-01 00:00:02,2025-07-01 00:08:54,NaN,1.70,99.0,None,230,234,0,-4.75,0.0,0.5,0.00,0.00,1.0,2.22,NaN,NaN,0.75

In [11]:
df.sort_values(by='tpep_pickup_datetime').tail(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
2857730,2,2025-07-31 23:59:54,2025-08-01 00:06:26,1.0,0.97,1.0,N,231,144,1,7.90,1.0,0.5,2.73,0.0,1.0,16.38,2.5,0.0,0.75
2857770,2,2025-07-31 23:59:54,2025-08-01 00:04:23,5.0,0.76,1.0,N,249,158,1,6.50,1.0,0.5,2.45,0.0,1.0,14.70,2.5,0.0,0.75
2857377,2,2025-07-31 23:59:55,2025-08-01 00:10:04,2.0,1.82,1.0,N,48,170,1,11.40,1.0,0.5,3.43,0.0,1.0,20.58,2.5,0.0,0.75
2860042,2,2025-07-31 23:59:56,2025-08-01 00:16:18,1.0,3.23,1.0,N,186,140,1,17.70,1.0,0.5,3.50,0.0,1.0,26.95,2.5,0.0,0.75
3898843,2,2025-07-31 23:59:57,2025-08-01 00:08:13,NaN,1.76,99.0,None,90,144,0,10.96,0.0,0.5,0.00,0.0,1.0,15.71,NaN,NaN,0.75
2858041,2,2025-07-31 23:59:57,2025-08-01 00:20:41,3.0,5.74,1.0,N,113,239,2,26.10,1.0,0.5,0.00,0.0,1.0,31.85,2.5,0.0,0.75
3898084,2,2025-07-31 23:59:57,2025-08-01 00:07:40,NaN,1.72,99.0,None,130,10,0,9.26,0.0,0.5,0.00,0.0,1.0,10.76,NaN,NaN,0.00
3897860,1,2025-07-31 23:59:58,2025-08-01 00:11:44,NaN,2.60,99.0,None,238,74,0,14.02,0.0,0.5,0.00,0.0,1.0,18.02,NaN,NaN,0.00
2859097,2,2025-07-31 23:59:58,2025-08-01 00:08:38,1.0,1.35,1.0,N,114,249,1,10.00,1.0,0.5,3.15,0.0,1.0,18.90,2.5,0.0,0.75
3897951,2,2025-07-31 23:59:59,2025-08-01 00:12:30,NaN,0.98,99.0,None,186,137,0,9.79,0.0,0.5,0.00,0.0,1.0,14.54,NaN,NaN,0.75

So there is only one ride that has the serious mistake. Let's remove it.

In [12]:
df.drop(1328239, inplace = True)

Analyzing the dropoff time

In [13]:
df.sort_values(by='tpep_dropoff_datetime').head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
840,2,2025-06-30 22:15:24,2025-06-30 22:25:07,1.0,1.65,1.0,N,234,246,1,11.4,1.0,0.5,3.43,0.0,1.0,20.58,2.5,0.00,0.75
841,2,2025-06-30 22:39:17,2025-06-30 22:42:38,1.0,0.65,1.0,N,234,107,1,5.8,1.0,0.5,2.31,0.0,1.0,13.86,2.5,0.00,0.75
1352,7,2025-07-01 00:00:40,2025-07-01 00:00:40,5.0,19.79,5.0,N,132,13,4,85.0,0.0,0.5,0.00,0.0,1.0,91.50,2.5,1.75,0.75
1377,7,2025-07-01 00:01:28,2025-07-01 00:01:28,4.0,0.51,1.0,N,100,230,1,5.8,0.0,0.5,2.31,0.0,1.0,13.86,2.5,0.00,0.75
33,2,2025-06-30 23:56:19,2025-07-01 00:01:50,3.0,0.70,1.0,N,161,233,1,7.2,1.0,0.5,3.88,0.0,1.0,16.83,2.5,0.00,0.75

In [14]:
df.sort_values(by='tpep_dropoff_datetime').tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
2854755,2,2025-07-31 22:39:00,2025-08-01 21:15:50,1.0,20.13,2.0,N,132,143,1,70.0,0.0,0.5,12.52,6.94,1.0,95.96,2.5,1.75,0.75
2850393,2,2025-07-31 21:36:49,2025-08-01 21:28:03,2.0,2.30,1.0,N,161,113,1,14.9,1.0,0.5,0.00,0.00,1.0,20.65,2.5,0.00,0.75
2854160,2,2025-07-31 22:27:10,2025-08-01 21:59:56,1.0,1.81,1.0,N,107,158,1,12.1,1.0,0.5,3.57,0.00,1.0,21.42,2.5,0.00,0.75
2854416,2,2025-07-31 22:24:29,2025-08-01 22:24:04,2.0,2.65,1.0,N,79,230,1,18.4,1.0,0.5,4.83,0.00,1.0,28.98,2.5,0.00,0.75
2796403,1,2025-07-31 12:16:42,2025-08-03 17:03:02,1.0,0.00,99.0,N,222,222,1,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.00,0.00

The last ride took about 4 days, but that isn't too bad. Let's check date/time inconsistencies.

In [15]:
df[df['tpep_dropoff_datetime'] < df['tpep_pickup_datetime']]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
275438,1,2025-07-04 09:30:00,2025-07-04 09:19:27,1.0,1.9,99.0,N,133,22,1,19.5,0.0,0.5,0.0,0.0,0.0,20.0,0.0,0.0,0.0

We got a time traveller. Removing it.

In [16]:
df.drop(275438, inplace = True)

Let's see if there were rides that didn't last a second.

In [17]:
no_time_rides = df[df['tpep_dropoff_datetime'] == df['tpep_pickup_datetime']]
no_time_rides

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
10,7,2025-07-01 00:44:56,2025-07-01 00:44:56,1.0,0.00,1.0,N,233,233,3,3.70,0.0,0.5,0.00,0.00,1.0,9.45,2.5,0.0,0.75
607,7,2025-07-01 00:02:38,2025-07-01 00:02:38,1.0,3.75,1.0,N,141,144,1,16.30,0.0,0.5,5.51,0.00,1.0,27.56,2.5,0.0,0.75
635,7,2025-07-01 00:30:33,2025-07-01 00:30:33,1.0,3.31,1.0,N,79,141,1,14.20,0.0,0.5,3.99,0.00,1.0,23.94,2.5,0.0,0.75
648,7,2025-07-01 00:46:07,2025-07-01 00:46:07,1.0,2.24,1.0,N,79,229,1,10.70,0.0,0.5,3.29,0.00,1.0,19.74,2.5,0.0,0.75
654,7,2025-07-01 00:44:27,2025-07-01 00:44:27,2.0,3.97,1.0,N,114,97,1,20.50,0.0,0.5,9.96,6.94,1.0,43.15,2.5,0.0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3810727,2,2025-07-29 19:10:33,2025-07-29 19:10:33,NaN,0.97,99.0,None,164,164,0,18.37,0.0,0.5,0.00,0.00,1.0,23.12,NaN,NaN,0.75
3825496,2,2025-07-30 07:33:00,2025-07-30 07:33:00,NaN,0.02,99.0,None,65,65,0,20.83,0.0,0.5,0.00,0.00,1.0,22.33,NaN,NaN,0.00
3827384,2,2025-07-30 08:10:00,2025-07-30 08:10:00,NaN,0.05,99.0,None,170,170,0,14.98,0.0,0.5,0.00,0.00,1.0,19.73,NaN,NaN,0.75
3841814,1,2025-07-30 18:21:24,2025-07-30 18:21:24,NaN,0.00,99.0,None,246,246,0,18.36,0.0,0.5,0.00,0.00,1.0,23.11,NaN,NaN,0.75
3885527,2,2025-07-31 18:14:38,2025-07-31 18:14:38,NaN,2.00,99.0,None,211,211,0,17.98,0.0,0.5,0.00,0.00,1.0,22.73,NaN,NaN,0.75

56063, that's not few. Maybe they were cancelled, but in that case the trip distance should be 0.  
Let's keep only the trips that last longer than 0 or their distance is more than 0.

In [18]:
df = df[(df['tpep_dropoff_datetime'] != df['tpep_pickup_datetime']) | (df['trip_distance'] == 0)]

In [19]:
no_time_rides = df[df['tpep_dropoff_datetime'] == df['tpep_pickup_datetime']]
no_time_rides

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
10,7,2025-07-01 00:44:56,2025-07-01 00:44:56,1.0,0.0,1.0,N,233,233,3,3.70,0.0,0.5,0.00,0.00,1.0,9.45,2.5,0.0,0.75
5383,7,2025-07-01 06:44:33,2025-07-01 06:44:33,1.0,0.0,1.0,N,234,230,2,7.20,0.0,0.5,0.00,0.00,1.0,11.95,2.5,0.0,0.75
6883,7,2025-07-01 07:18:38,2025-07-01 07:18:38,1.0,0.0,1.0,N,170,186,2,7.90,0.0,0.5,0.00,0.00,1.0,12.65,2.5,0.0,0.75
10298,7,2025-07-01 08:00:30,2025-07-01 08:00:30,1.0,0.0,1.0,N,161,161,1,6.50,0.0,0.5,3.38,0.00,1.0,14.63,2.5,0.0,0.75
10299,7,2025-07-01 08:25:43,2025-07-01 08:25:43,1.0,0.0,1.0,N,163,161,1,6.50,0.0,0.5,3.64,6.94,1.0,21.83,2.5,0.0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745860,2,2025-07-27 16:30:00,2025-07-27 16:30:00,NaN,0.0,99.0,None,41,41,0,13.64,0.0,0.5,0.00,0.00,1.0,15.14,NaN,NaN,0.00
3768919,2,2025-07-28 12:49:00,2025-07-28 12:49:00,NaN,0.0,99.0,None,113,113,0,4.64,0.0,0.5,0.00,0.00,1.0,9.39,NaN,NaN,0.75
3784920,2,2025-07-28 22:16:00,2025-07-28 22:16:00,NaN,0.0,99.0,None,158,158,0,-4.75,0.0,0.5,0.00,0.00,1.0,5.00,NaN,NaN,0.75
3788929,1,2025-07-29 06:56:17,2025-07-29 06:56:17,NaN,0.0,99.0,None,239,239,0,17.18,0.0,0.5,0.00,0.00,1.0,21.93,NaN,NaN,0.75
3841814,1,2025-07-30 18:21:24,2025-07-30 18:21:24,NaN,0.0,99.0,None,246,246,0,18.36,0.0,0.5,0.00,0.00,1.0,23.11,NaN,NaN,0.75

Now there are not actually that many of them, and they still have inconsistancies, such as different PU and DO locations, we can just remove them.

In [20]:
df = df[(df['tpep_dropoff_datetime'] != df['tpep_pickup_datetime'])]

## Negative money

Let's return to our fares problem.  
We'll find all pairs of items than have specific columns matching and others having opposite signs.

In [21]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee',
       'cbd_congestion_fee'],
      dtype='object')

In [22]:
fare_cols = ['fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee',
       'cbd_congestion_fee']
ride_cols = ['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type']

In [23]:
import pandas as pd
import numpy as np

def find_opposite_fare_pairs(df, fare_cols, ride_cols):
    
    df_temp = df.reset_index().rename(columns={'index': 'original_index'})

    # Create a doubled version of dataset
    merged = df_temp.merge(  
        df_temp,
        on=ride_cols,
        suffixes=('_a', '_b')
    )
    
    fare_cols_a = [f'{col}_a' for col in fare_cols]
    fare_cols_b = [f'{col}_b' for col in fare_cols]

    #Check if fares are opposite
    cond = np.isclose(merged[fare_cols_a].values, -merged[fare_cols_b].values)
    mask = cond.all(axis=1)
    
    mask &= (merged['fare_amount_a'] >= 0)  # Set the a as positive fares
    mask &= (merged['original_index_a'] != merged['original_index_b'])  # Remove potential duplicates 

    result_pairs = merged.loc[mask]

    cols_to_keep = ['original_index_a', 'original_index_b'] + fare_cols_a + fare_cols_b
    return result_pairs[cols_to_keep].copy()

In [24]:
pairs_df = find_opposite_fare_pairs(df, fare_cols, ride_cols)

In [25]:
pairs_df

,original_index_a,original_index_b,fare_amount_a,extra_a,mta_tax_a,tip_amount_a,tolls_amount_a,improvement_surcharge_a,total_amount_a,congestion_surcharge_a,...,fare_amount_b,extra_b,mta_tax_b,tip_amount_b,tolls_amount_b,improvement_surcharge_b,total_amount_b,congestion_surcharge_b,Airport_fee_b,cbd_congestion_fee_b
24,24,23,39.4,6.0,0.5,0.0,0.0,1.0,51.90,2.5,...,-39.4,-6.0,-0.5,0.0,0.0,-1.0,-51.90,-2.5,-1.75,-0.75
39,37,36,11.4,1.0,0.5,0.0,0.0,1.0,17.15,2.5,...,-11.4,-1.0,-0.5,0.0,0.0,-1.0,-17.15,-2.5,0.00,-0.75
52,48,47,3.0,1.0,0.5,0.0,0.0,1.0,7.25,0.0,...,-3.0,-1.0,-0.5,0.0,0.0,-1.0,-7.25,0.0,-1.75,0.00
171,165,164,5.8,1.0,0.5,0.0,0.0,1.0,11.55,2.5,...,-5.8,-1.0,-0.5,0.0,0.0,-1.0,-11.55,-2.5,0.00,-0.75
186,178,177,17.0,1.0,0.5,0.0,0.0,1.0,19.50,0.0,...,-17.0,-1.0,-0.5,0.0,0.0,-1.0,-19.50,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2941424,2860109,2860108,37.3,1.0,0.5,0.0,0.0,1.0,41.55,0.0,...,-37.3,-1.0,-0.5,0.0,0.0,-1.0,-41.55,0.0,-1.75,0.00
2941440,2860123,2860122,14.2,1.0,0.5,0.0,0.0,1.0,19.95,2.5,...,-14.2,-1.0,-0.5,0.0,0.0,-1.0,-19.95,-2.5,0.00,-0.75
2941450,2860131,2860130,30.7,1.0,0.0,0.0,0.0,1.0,33.45,0.0,...,-30.7,-1.0,0.0,0.0,0.0,-1.0,-33.45,0.0,0.00,-0.75
2941489,2860169,2860168,10.0,1.0,0.5,0.0,0.0,1.0,15.75,2.5,...,-10.0,-1.0,-0.5,0.0,0.0,-1.0,-15.75,-2.5,0.00,-0.75
2941498,2860176,2860175,55.5,1.0,0.5,0.0,0.0,1.0,59.75,0.0,...,-55.5,-1.0,-0.5,0.0,0.0,-1.0,-59.75,0.0,-1.75,0.00

We see that there are about 70000 pairs of such trips.

In [26]:
pairs_df.describe()

,original_index_a,original_index_b,fare_amount_a,extra_a,mta_tax_a,tip_amount_a,tolls_amount_a,improvement_surcharge_a,total_amount_a,congestion_surcharge_a,...,fare_amount_b,extra_b,mta_tax_b,tip_amount_b,tolls_amount_b,improvement_surcharge_b,total_amount_b,congestion_surcharge_b,Airport_fee_b,cbd_congestion_fee_b
count,6.893000e+04,6.893000e+04,68930.000000,68930.000000,68930.000000,68930.000000,68930.000000,68930.000000,68930.000000,68930.000000,...,68930.000000,68930.000000,68930.000000,68930.000000,68930.000000,68930.000000,68930.000000,68930.000000,68930.000000,68930.000000
mean,1.405632e+06,1.405645e+06,25.028051,1.133502,0.466408,0.007245,0.852621,0.991716,31.271987,1.891085,...,-25.028051,-1.133502,-0.466408,-0.007245,-0.852621,-0.991716,-31.271987,-1.891085,-0.402172,-0.493762
std,8.253010e+05,8.253020e+05,33.000539,1.587411,0.128967,0.324169,3.101825,0.110541,34.786494,1.094178,...,33.000539,1.587411,0.128967,0.324169,3.101825,0.110541,34.786494,1.094178,0.736976,0.360327
min,2.400000e+01,2.300000e+01,0.000000,0.000000,-0.500000,0.000000,0.000000,-1.000000,-6.500000,-2.500000,...,-1591.300000,-7.500000,-0.500000,-52.750000,-112.840000,-1.000000,-1634.750000,-2.500000,-1.750000,-0.750000
25%,6.771812e+05,6.771802e+05,7.900000,0.000000,0.500000,0.000000,0.000000,1.000000,13.350000,2.500000,...,-31.700000,-1.000000,-0.500000,0.000000,0.000000,-1.000000,-37.000000,-2.500000,0.000000,-0.750000
50%,1.405982e+06,1.406018e+06,14.200000,1.000000,0.500000,0.000000,0.000000,1.000000,19.350000,2.500000,...,-14.200000,-1.000000,-0.500000,0.000000,0.000000,-1.000000,-19.350000,-2.500000,0.000000,-0.750000
75%,2.138170e+06,2.138180e+06,31.700000,1.000000,0.500000,0.000000,0.000000,1.000000,37.000000,2.500000,...,-7.900000,0.000000,-0.500000,0.000000,0.000000,-1.000000,-13.350000,-2.500000,0.000000,0.000000
max,2.860176e+06,2.860175e+06,1591.300000,7.500000,0.500000,52.750000,112.840000,1.000000,1634.750000,2.500000,...,0.000000,0.000000,0.500000,0.000000,0.000000,1.000000,6.500000,2.500000,1.750000,0.750000

The probable explanation is that such rides were cancelled. Let's just remove those with negative fare_amount (original index b)

In [27]:
indices_to_remove = pairs_df['original_index_b'].unique()
df = df.drop(index = indices_to_remove)

Now we have to investigate what else is wrong with the fares, why else are there negative values

In [28]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
count,3.773969e+06,3773969,3773969,2.735271e+06,3.773969e+06,3.773969e+06,3.773969e+06,3.773969e+06,3.773969e+06,3.773969e+06,3.773969e+06,3.773969e+06,3.773969e+06,3.773969e+06,3.773969e+06,3.773969e+06,2.735271e+06,2.735271e+06,3.773969e+06
mean,1.810482e+00,2025-07-17 05:09:25.460256,2025-07-17 05:26:47.447614,1.313183e+00,7.222818e+00,2.948126e+01,1.592426e+02,1.589687e+02,8.780369e-01,1.937303e+01,1.164251e+00,4.927260e-01,2.724563e+00,5.271716e-01,9.806505e-01,2.790243e+01,2.242651e+00,1.708816e-01,5.538874e-01
min,1.000000e+00,2025-06-30 22:15:24,2025-06-30 22:25:07,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-6.000000e+02,-7.500000e+00,-5.000000e-01,-2.800000e+01,-6.100000e+01,-1.000000e+00,-6.010000e+02,-2.500000e+00,-1.750000e+00,-7.500000e-01
25%,2.000000e+00,2025-07-09 21:07:52,2025-07-09 21:22:32,1.000000e+00,1.080000e+00,1.000000e+00,1.140000e+02,1.070000e+02,0.000000e+00,9.300000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.605000e+01,2.500000e+00,0.000000e+00,0.000000e+00
50%,2.000000e+00,2025-07-17 10:03:29,2025-07-17 10:22:23,1.000000e+00,1.930000e+00,1.000000e+00,1.610000e+02,1.610000e+02,1.000000e+00,1.420000e+01,0.000000e+00,5.000000e-01,2.000000e+00,0.000000e+00,1.000000e+00,2.164000e+01,2.500000e+00,0.000000e+00,7.500000e-01
75%,2.000000e+00,2025-07-24 20:02:54,2025-07-24 20:20:17,1.000000e+00,3.910000e+00,9.900000e+01,2.300000e+02,2.310000e+02,1.000000e+00,2.330000e+01,2.500000e+00,5.000000e-01,3.870000e+00,0.000000e+00,1.000000e+00,3.111000e+01,2.500000e+00,0.000000e+00,7.500000e-01
max,6.000000e+00,2025-07-31 23:59:59,2025-08-03 17:03:02,9.000000e+00,3.979944e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,2.495000e+03,1.500000e+01,5.243380e+03,5.000000e+02,2.041800e+02,1.000000e+00,5.297870e+03,2.500000e+00,1.750000e+00,1.500000e+00
std,4.073292e-01,NaN,NaN,7.582435e-01,6.810176e+02,4.441311e+01,6.641357e+01,7.065673e+01,7.208320e-01,1.889982e+01,1.789360e+00,2.699828e+00,3.959731e+00,2.108829e+00,1.515943e-01,2.276715e+01,7.783050e-01,5.224209e-01,3.320493e-01

In [29]:
neg_fare_amount = df[df['fare_amount'] < 0]
neg_fare_amount

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
304,2,2025-07-01 00:03:14,2025-07-01 00:11:38,1.0,1.07,1.0,N,263,75,4,-7.90,-1.0,-0.5,0.0,0.00,-1.0,-12.90,-2.5,0.00,0.00
765,2,2025-07-01 00:02:28,2025-07-01 00:05:51,1.0,0.47,1.0,N,161,230,4,-5.10,-1.0,-0.5,0.0,0.00,-1.0,-10.85,-2.5,0.00,-0.75
972,2,2025-07-01 00:37:47,2025-07-01 01:20:43,1.0,10.05,1.0,N,249,76,4,-49.20,-1.0,-0.5,0.0,0.00,-1.0,-54.95,-2.5,0.00,-0.75
991,2,2025-07-01 00:12:28,2025-07-01 00:24:42,1.0,8.90,1.0,N,132,93,4,-33.80,-1.0,-0.5,0.0,0.00,-1.0,-38.05,0.0,-1.75,0.00
1300,2,2025-07-01 00:58:16,2025-07-01 00:59:23,1.0,0.23,1.0,N,148,148,4,-3.70,-1.0,-0.5,0.0,0.00,-1.0,-9.45,-2.5,0.00,-0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898939,2,2025-07-31 23:25:36,2025-07-31 23:37:06,NaN,2.47,99.0,None,231,164,0,-4.75,0.0,0.5,0.0,0.00,1.0,4.95,NaN,NaN,0.75
3898945,2,2025-07-31 23:51:02,2025-08-01 00:13:13,NaN,4.62,99.0,None,230,42,0,-4.75,0.0,0.5,0.0,0.00,1.0,4.48,NaN,NaN,0.75
3898955,2,2025-07-31 23:52:35,2025-08-01 00:09:13,NaN,2.00,99.0,None,164,48,0,-4.75,0.0,0.5,0.0,0.00,1.0,3.18,NaN,NaN,0.75
3898957,2,2025-07-31 23:14:42,2025-07-31 23:25:47,NaN,1.67,99.0,None,163,230,0,-4.75,0.0,0.5,0.0,0.00,1.0,3.00,NaN,NaN,0.75
3898959,2,2025-07-31 23:05:39,2025-07-31 23:34:07,NaN,6.19,99.0,None,249,265,0,-15.81,0.0,0.0,0.0,14.06,1.0,10.00,NaN,NaN,0.75

Quite a few rows with negative fare_amount

In [30]:
np.unique(neg_fare_amount['fare_amount'])

array([-6.0000e+02, -5.1500e+02, -4.9900e+02, -4.9000e+02, -2.1370e+02,
       -1.8850e+02, -1.7800e+02, -1.7000e+02, -1.5350e+02, -1.5040e+02,
       -1.5000e+02, -1.4160e+02, -1.4020e+02, -1.4000e+02, -1.3110e+02,
       -1.3040e+02, -1.3000e+02, -1.2410e+02, -1.2060e+02, -1.2000e+02,
       -1.1971e+02, -1.1710e+02, -1.1640e+02, -1.1500e+02, -1.1290e+02,
       -1.1000e+02, -1.0870e+02, -1.0840e+02, -1.0800e+02, -1.0770e+02,
       -1.0630e+02, -1.0500e+02, -1.0400e+02, -1.0030e+02, -1.0000e+02,
       -9.9600e+01, -9.9300e+01, -9.8600e+01, -9.7500e+01, -9.7000e+01,
       -9.6100e+01, -9.5960e+01, -9.5400e+01, -9.5000e+01, -9.4700e+01,
       -9.4000e+01, -9.3690e+01, -9.3300e+01, -9.2600e+01, -9.1900e+01,
       -9.1600e+01, -9.1200e+01, -9.0000e+01, -8.9800e+01, -8.9100e+01,
       -8.8440e+01, -8.7700e+01, -8.7400e+01, -8.7000e+01, -8.6950e+01,
       -8.6300e+01, -8.5600e+01, -8.5550e+01, -8.5500e+01, -8.5300e+01,
       -8.5000e+01, -8.4900e+01, -8.4350e+01, -8.4200e+01, -8.4000e+01,
       -8.3500e+01, -8.3440e+01, -8.3000e+01, -8.2800e+01, -8.2700e+01,
       -8.2440e+01, -8.2100e+01, -8.1800e+01, -8.1400e+01, -8.0700e+01,
       -8.0000e+01, -7.8600e+01, -7.8000e+01, -7.7900e+01, -7.7200e+01,
       -7.6900e+01, -7.6200e+01, -7.5800e+01, -7.5100e+01, -7.5000e+01,
       -7.4400e+01, -7.4120e+01, -7.4000e+01, -7.3000e+01, -7.2300e+01,
       -7.2000e+01, -7.1000e+01, -7.0900e+01, -7.0200e+01, -7.0000e+01,
       -6.9500e+01, -6.8800e+01, -6.8000e+01, -6.7400e+01, -6.7000e+01,
       -6.6700e+01, -6.6000e+01, -6.5900e+01, -6.5700e+01, -6.5550e+01,
       -6.5450e+01, -6.5300e+01, -6.5000e+01, -6.4300e+01, -6.4000e+01,
       -6.3900e+01, -6.3000e+01, -6.2500e+01, -6.1800e+01, -6.1500e+01,
       -6.1100e+01, -6.1000e+01, -6.0800e+01, -6.0400e+01, -6.0000e+01,
       -5.9700e+01, -5.9000e+01, -5.8300e+01, -5.7600e+01, -5.6900e+01,
       -5.6600e+01, -5.6200e+01, -5.5500e+01, -5.5200e+01, -5.5000e+01,
       -5.4800e+01, -5.4100e+01, -5.3800e+01, -5.3400e+01, -5.3100e+01,
       -5.2700e+01, -5.2000e+01, -5.1300e+01, -5.0600e+01, -5.0000e+01,
       -4.9900e+01, -4.9600e+01, -4.9200e+01, -4.8500e+01, -4.8200e+01,
       -4.8000e+01, -4.7800e+01, -4.7500e+01, -4.7100e+01, -4.6400e+01,
       -4.5700e+01, -4.5400e+01, -4.5350e+01, -4.5000e+01, -4.4300e+01,
       -4.4000e+01, -4.3750e+01, -4.3630e+01, -4.3600e+01, -4.2900e+01,
       -4.2750e+01, -4.2600e+01, -4.2200e+01, -4.1900e+01, -4.1500e+01,
       -4.1000e+01, -4.0800e+01, -4.0500e+01, -4.0100e+01, -4.0000e+01,
       -3.9800e+01, -3.9400e+01, -3.9100e+01, -3.8700e+01, -3.8000e+01,
       -3.7700e+01, -3.7430e+01, -3.7300e+01, -3.6620e+01, -3.6600e+01,
       -3.6300e+01, -3.6160e+01, -3.6120e+01, -3.6000e+01, -3.5900e+01,
       -3.5600e+01, -3.5370e+01, -3.5200e+01, -3.5000e+01, -3.4900e+01,
       -3.4500e+01, -3.3870e+01, -3.3800e+01, -3.3760e+01, -3.3500e+01,
       -3.3100e+01, -3.2400e+01, -3.2100e+01, -3.1700e+01, -3.1400e+01,
       -3.1000e+01, -3.0370e+01, -3.0300e+01, -3.0010e+01, -3.0000e+01,
       -2.9810e+01, -2.9600e+01, -2.9300e+01, -2.8900e+01, -2.8600e+01,
       -2.8200e+01, -2.7810e+01, -2.7500e+01, -2.7350e+01, -2.7200e+01,
       -2.6800e+01, -2.6500e+01, -2.6100e+01, -2.5800e+01, -2.5780e+01,
       -2.5750e+01, -2.5630e+01, -2.5570e+01, -2.5400e+01, -2.5100e+01,
       -2.5050e+01, -2.5000e+01, -2.4820e+01, -2.4750e+01, -2.4700e+01,
       -2.4530e+01, -2.4400e+01, -2.4310e+01, -2.4000e+01, -2.3810e+01,
       -2.3750e+01, -2.3700e+01, -2.3660e+01, -2.3300e+01, -2.3000e+01,
       -2.2810e+01, -2.2750e+01, -2.2600e+01, -2.2000e+01, -2.1900e+01,
       -2.1600e+01, -2.1330e+01, -2.1210e+01, -2.1200e+01, -2.1050e+01,
       -2.0810e+01, -2.0580e+01, -2.0540e+01, -2.0500e+01, -2.0480e+01,
       -2.0180e+01, -2.0110e+01, -2.0060e+01, -2.0000e+01, -1.9810e+01,
       -1.9800e+01, -1.9410e+01, -1.9380e+01, -1.9200e+01, -1.9100e+01,
       -1.8810e+01, -1.8750e+01, -1.8690e+01, -1.8630e+01, -1.8560e+01,
       -1.8400e+01, -1.8310e+01, -1.7880e+01, -1.7810e+01, -1.7700e+01,
       -1.7640e+01, -1.7060e+01, -1.7020e+01, -1.7000e+01, -1.6890e+01,
       -1.6810e+01, -1.6310e+01, -1.6300e+01, -1.5940e+01, -1.5810e+01,
       -1.5640e+01, -1.5600e+01, -1.5560e+01, -1.5500e+01, -1.5390e+01,
       -1.5380e+01, -1.5060e+01, -1.5000e+01, -1.4900e+01, -1.4870e+01,
       -1.4750e+01, -1.4690e+01, -1.4200e+01, -1.4120e+01, -1.4000e+01,
       -1.3940e+01, -1.3860e+01, -1.3750e+01, -1.3640e+01, -1.3630e+01,
       -1.3500e+01, -1.3000e+01, -1.2800e+01, -1.2690e+01, -1.2680e+01,
       -1.2150e+01, -1.2100e+01, -1.1930e+01, -1.1900e+01, -1.1750e+01,
       -1.1690e+01, -1.1680e+01, -1.1620e+01, -1.1400e+01, -1.1070e+01,
       -1.0940e+01, -1.0700e+01, -1.0610e+01, -1.0500e+01, -1.0000e+01,
       -9.9500e+00, -9.8800e+00, -9.7500e+00, -9.6800e+00, -9.3300e+00,
       -9.3000e+00, -9.1900e+00, -9.0000e+00, -8.7500e+00, -8.6900e+00,
       -8.6000e+00, -8.4400e+00, -8.1900e+00, -8.0000e+00, -7.9400e+00,
       -7.9300e+00, -7.9000e+00, -7.5000e+00, -7.2000e+00, -7.1800e+00,
       -6.9400e+00, -6.7000e+00, -6.5000e+00, -6.0000e+00, -5.8000e+00,
       -5.5000e+00, -5.1000e+00, -4.9300e+00, -4.7500e+00, -4.6800e+00,
       -4.5000e+00, -4.4000e+00, -4.2500e+00, -4.1000e+00, -4.0500e+00,
       -4.0000e+00, -3.7000e+00, -3.0000e+00, -2.2500e+00, -1.7500e+00,
       -1.5000e+00, -1.0000e+00, -8.8000e-01, -8.0000e-01, -1.0000e-02])

In [31]:
neg_fares = (df[fare_cols] < 0).any(axis=1)

print(f"Rows with negative fare_amount: {(df['fare_amount'] < 0).sum()}")
print(f"Rows with any negative fare: {neg_fares.sum()}")

Rows with negative fare_amount: 178719
Rows with any negative fare: 178920

We see that almost all rows with negative fares have negative fare amount. Most likely it is just a mistake in data, we can't process such rows.  
Just out of curiosity, let's see the exclusive rows.

In [32]:
df[(df['fare_amount'] > 0) & (df[fare_cols] < 0).any(axis=1)]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
2869050,1,2025-07-01 11:21:27,2025-07-01 11:58:06,NaN,0.9,99.0,None,161,265,0,51.88,-0.75,1.0,0.0,16.06,0.0,69.69,NaN,NaN,0.75
2873422,1,2025-07-01 15:56:09,2025-07-01 16:56:44,NaN,0.7,99.0,None,249,1,0,80.00,-0.75,0.0,0.0,13.38,1.0,95.13,NaN,NaN,0.75
2876947,1,2025-07-01 17:40:22,2025-07-01 18:47:15,NaN,0.5,99.0,None,211,265,0,39.41,-0.75,1.0,0.0,16.06,0.0,57.22,NaN,NaN,0.75
2894540,1,2025-07-02 06:55:29,2025-07-02 07:34:17,NaN,1.0,99.0,None,170,265,0,69.88,-0.75,1.0,0.0,21.60,0.0,93.23,NaN,NaN,0.75
2903790,1,2025-07-02 14:15:21,2025-07-02 14:41:35,NaN,0.0,99.0,None,100,265,0,30.89,-0.75,1.0,0.0,16.06,0.0,48.70,NaN,NaN,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3873640,1,2025-07-31 14:54:50,2025-07-31 16:00:02,NaN,0.4,99.0,None,125,1,0,80.00,-0.75,0.0,0.0,13.38,1.0,95.13,NaN,NaN,0.75
3876616,1,2025-07-31 15:49:53,2025-07-31 17:13:28,NaN,1.4,99.0,None,79,1,0,88.91,-0.75,0.0,0.0,13.38,1.0,104.04,NaN,NaN,0.75
3879619,1,2025-07-31 16:25:39,2025-07-31 17:29:08,NaN,0.7,99.0,None,249,1,0,87.28,-0.75,0.0,0.0,15.38,1.0,104.41,NaN,NaN,0.75
3882770,1,2025-07-31 17:00:01,2025-07-31 18:02:57,NaN,1.5,99.0,None,48,1,0,103.66,-0.75,0.0,0.0,15.38,1.0,120.79,NaN,NaN,0.75
3885254,1,2025-07-31 18:05:38,2025-07-31 18:57:35,NaN,0.8,99.0,None,230,1,0,92.47,-0.75,0.0,0.0,15.38,1.0,109.60,NaN,NaN,0.75

Seems that the mistake is only in 'extra'. Anyway, there are not that many such rows.  
We'll just remove all rows with negative fares.

In [33]:
df = df[~(df[fare_cols] < 0).any(axis=1)]

## Leftover fixes

In [34]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
count,3.595049e+06,3595049,3595049,2.727485e+06,3.595049e+06,3.595049e+06,3.595049e+06,3.595049e+06,3.595049e+06,3.595049e+06,3.595049e+06,3.595049e+06,3.595049e+06,3.595049e+06,3.595049e+06,3.595049e+06,2.727485e+06,2.727485e+06,3.595049e+06
mean,1.801104e+00,2025-07-17 04:38:13.866061,2025-07-17 04:55:33.740658,1.312919e+00,6.824848e+00,2.623324e+01,1.595702e+02,1.593450e+02,9.143453e-01,2.059089e+01,1.224302e+00,4.945044e-01,2.860145e+00,5.401930e-01,9.840705e-01,2.912881e+01,2.254793e+00,1.722523e-01,5.558679e-01
min,1.000000e+00,2025-06-30 22:15:24,2025-06-30 22:25:07,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,2025-07-09 20:45:55,2025-07-09 21:00:26,1.000000e+00,1.070000e+00,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,1.000000e+01,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.685000e+01,2.500000e+00,0.000000e+00,0.000000e+00
50%,2.000000e+00,2025-07-17 09:23:26,2025-07-17 09:41:50,1.000000e+00,1.900000e+00,1.000000e+00,1.610000e+02,1.610000e+02,1.000000e+00,1.490000e+01,0.000000e+00,5.000000e-01,2.000000e+00,0.000000e+00,1.000000e+00,2.226000e+01,2.500000e+00,0.000000e+00,7.500000e-01
75%,2.000000e+00,2025-07-24 19:23:48,2025-07-24 19:41:57,1.000000e+00,3.880000e+00,9.900000e+01,2.300000e+02,2.320000e+02,1.000000e+00,2.400000e+01,2.500000e+00,5.000000e-01,4.000000e+00,0.000000e+00,1.000000e+00,3.187000e+01,2.500000e+00,0.000000e+00,7.500000e-01
max,6.000000e+00,2025-07-31 23:59:59,2025-08-03 17:03:02,9.000000e+00,3.979944e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,2.495000e+03,1.500000e+01,5.243380e+03,5.000000e+02,2.041800e+02,1.000000e+00,5.297870e+03,2.500000e+00,1.750000e+00,1.500000e+00
std,4.150484e-01,NaN,NaN,7.580843e-01,6.392397e+02,4.275923e+01,6.603394e+01,7.051085e+01,7.014151e-01,1.847916e+01,1.810844e+00,2.765814e+00,4.008854e+00,2.130302e+00,1.246642e-01,2.254607e+01,7.435653e-01,5.213163e-01,3.285047e-01

# Long rides

Let's take a look at ride durations.

In [35]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

df['duration_hours'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 3600

df_rides_longer_than_12 = df[df['duration_hours'] > 12]
df_rides_longer_than_6 = df[df['duration_hours'] > 6]
df_rides_longer_than_3 = df[df['duration_hours'] > 3]
df_rides_longer_than_2 = df[df['duration_hours'] > 2]
df_rides_longer_than_1 = df[df['duration_hours'] > 1]

In [36]:
print('12: ', df_rides_longer_than_12.shape)
print('6: ', df_rides_longer_than_6.shape)
print('3: ', df_rides_longer_than_3.shape)
print('2: ', df_rides_longer_than_2.shape)
print('1: ', df_rides_longer_than_1.shape)

12:  (793, 21)
6:  (925, 21)
3:  (1198, 21)
2:  (2379, 21)
1:  (63335, 21)

There are not that many rides longer than 2 hours, we can just remove them, since it is rare and may interfere with our insights

In [37]:
df = df[~(df['duration_hours'] > 2)]

In [38]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration_hours
count,3.592670e+06,3592670,3592670,2.725221e+06,3.592670e+06,3.592670e+06,3.592670e+06,3.592670e+06,3.592670e+06,3.592670e+06,3.592670e+06,3.592670e+06,3.592670e+06,3.592670e+06,3.592670e+06,3.592670e+06,2.725221e+06,2.725221e+06,3.592670e+06,3.592670e+06
mean,1.801219e+00,2025-07-17 04:37:16.602625,2025-07-17 04:54:13.510813,1.312823e+00,6.781103e+00,2.622642e+01,1.595794e+02,1.593466e+02,9.141207e-01,2.055190e+01,1.224500e+00,4.945375e-01,2.859192e+00,5.381549e-01,9.842670e-01,2.908770e+01,2.255699e+00,1.720904e-01,5.560155e-01,2.824745e-01
min,1.000000e+00,2025-06-30 22:15:24,2025-06-30 22:25:07,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.777778e-04
25%,2.000000e+00,2025-07-09 20:45:51.500000,2025-07-09 21:00:16,1.000000e+00,1.070000e+00,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,1.000000e+01,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.685000e+01,2.500000e+00,0.000000e+00,0.000000e+00,1.380556e-01
50%,2.000000e+00,2025-07-17 09:21:59,2025-07-17 09:40:14,1.000000e+00,1.900000e+00,1.000000e+00,1.610000e+02,1.610000e+02,1.000000e+00,1.490000e+01,0.000000e+00,5.000000e-01,2.000000e+00,0.000000e+00,1.000000e+00,2.226000e+01,2.500000e+00,0.000000e+00,7.500000e-01,2.263889e-01
75%,2.000000e+00,2025-07-24 19:23:00,2025-07-24 19:40:49,1.000000e+00,3.880000e+00,9.900000e+01,2.300000e+02,2.320000e+02,1.000000e+00,2.400000e+01,2.500000e+00,5.000000e-01,4.000000e+00,0.000000e+00,1.000000e+00,3.185000e+01,2.500000e+00,0.000000e+00,7.500000e-01,3.572222e-01
max,6.000000e+00,2025-07-31 23:59:59,2025-08-01 00:58:00,9.000000e+00,3.979944e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,9.800000e+02,1.500000e+01,5.243380e+03,5.000000e+02,2.041800e+02,1.000000e+00,5.297870e+03,2.500000e+00,1.750000e+00,1.500000e+00,2.000000e+00
std,4.149217e-01,NaN,NaN,7.577544e-01,6.356826e+02,4.275572e+01,6.603387e+01,7.050444e+01,7.013981e-01,1.806765e+01,1.810819e+00,2.766726e+00,3.991310e+00,2.121327e+00,1.239005e-01,2.216639e+01,7.423390e-01,5.210980e-01,3.284233e-01,2.185168e-01

Let's also take a look at the distances, since there are quite long rides.

In [39]:
df_rides_further_than_1000 = df[df['trip_distance'] > 1000]
df_rides_further_than_500 = df[df['trip_distance'] > 500]
df_rides_further_than_200 = df[df['trip_distance'] > 200]
df_rides_further_than_100 = df[df['trip_distance'] > 100]
df_rides_further_than_50 = df[df['trip_distance'] > 50]
df_rides_further_than_30 = df[df['trip_distance'] > 30]
df_rides_further_than_10 = df[df['trip_distance'] > 10]

In [40]:
print('1000: ', df_rides_further_than_1000.shape)
print('500: ', df_rides_further_than_500.shape)
print('200: ', df_rides_further_than_200.shape)
print('100: ', df_rides_further_than_100.shape)
print('50: ', df_rides_further_than_50.shape)
print('30: ', df_rides_further_than_30.shape)
print('10: ', df_rides_further_than_10.shape)

1000:  (145, 21)
500:  (145, 21)
200:  (147, 21)
100:  (156, 21)
50:  (591, 21)
30:  (3669, 21)
10:  (292838, 21)

Rides longer than 50 miles are quite rare, so let's remove those (since New York City overall is not that long of a place)

In [41]:
df = df[~(df['trip_distance'] > 50)]

Let's actually look at the longer rides

In [42]:
df_rides_further_than_30 = df[df['trip_distance'] > 30]

In [43]:
df_rides_further_than_30.head(30)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration_hours
1051,2,2025-07-01 00:51:14,2025-07-01 01:27:42,1.0,32.50,3.0,N,138,1,1,...,6.00,0.0,5.00,28.00,1.0,178.15,0.0,1.75,0.00,0.607778
1317,2,2025-07-01 00:23:53,2025-07-01 01:09:44,1.0,34.88,4.0,N,132,265,1,...,1.00,0.0,37.81,6.94,1.0,228.60,0.0,1.75,0.00,0.764167
1357,2,2025-07-01 00:40:08,2025-07-01 01:27:48,4.0,33.75,4.0,N,132,265,1,...,1.00,0.5,0.00,0.00,1.0,189.95,0.0,1.75,0.00,0.794444
1944,2,2025-07-01 01:00:50,2025-07-01 01:46:10,1.0,36.00,4.0,N,138,265,1,...,6.00,0.5,0.00,0.00,1.0,216.65,0.0,1.75,0.00,0.755556
2155,2,2025-07-01 01:27:58,2025-07-01 02:12:59,1.0,39.30,4.0,N,132,265,1,...,1.00,0.5,30.00,6.94,1.0,301.09,0.0,1.75,0.00,0.750278
2160,2,2025-07-01 01:13:32,2025-07-01 02:19:42,3.0,46.25,4.0,N,132,265,1,...,1.00,0.5,61.30,0.00,1.0,369.55,0.0,1.75,0.00,1.102778
2196,2,2025-07-01 01:48:19,2025-07-01 02:27:50,4.0,32.28,4.0,N,132,265,1,...,1.00,0.5,15.00,0.00,1.0,199.35,0.0,1.75,0.00,0.658611
2318,1,2025-07-01 01:55:39,2025-07-01 02:52:48,1.0,35.80,5.0,N,132,265,1,...,2.50,0.0,30.00,21.00,1.0,249.50,0.0,1.75,0.75,0.952500
2510,2,2025-07-01 01:11:09,2025-07-01 01:57:49,1.0,31.48,4.0,N,132,265,1,...,1.00,0.0,5.00,21.00,1.0,149.00,0.0,1.75,0.75,0.777778
2802,2,2025-07-01 02:41:58,2025-07-01 03:29:51,2.0,34.72,4.0,N,132,265,1,...,1.00,0.5,44.57,0.00,1.0,267.42,0.0,1.75,0.00,0.798056
2844,2,2025-07-01 02:14:17,2025-07-01 02:56:49,3.0,32.95,4.0,N,132,265,1,...,1.00,0.5,0.00,0.00,1.0,185.05,0.0,1.75,0.00,0.708889
2935,2,2025-07-01 02:10:51,2025-07-01 02:57:12,3.0,38.96,5.0,N,132,265,1,...,0.00,0.0,10.00,6.94,1.0,269.69,0.0,1.75,0.00,0.772500
3262,2,2025-07-01 03:16:07,2025-07-01 04:26:19,3.0,44.95,1.0,N,132,265,1,...,1.00,0.0,36.16,14.06,1.0,218.72,0.0,1.75,0.75,1.170000
4017,2,2025-07-01 05:45:04,2025-07-01 06:32:06,3.0,31.18,5.0,N,151,265,1,...,0.00,0.0,20.70,0.00,1.0,124.20,2.5,0.00,0.00,0.783889
4121,2,2025-07-01 05:28:15,2025-07-01 06:33:44,4.0,39.42,5.0,N,260,265,1,...,0.00,0.0,24.52,0.00,1.0,188.02,2.5,0.00,0.00,1.091389
4822,2,2025-07-01 06:18:59,2025-07-01 07:14:57,1.0,37.14,1.0,N,132,265,1,...,1.00,0.5,10.00,6.94,1.0,155.09,0.0,1.75,0.00,0.932778
5457,2,2025-07-01 06:20:40,2025-07-01 07:22:03,2.0,30.27,1.0,N,132,265,2,...,0.00,0.5,0.00,6.94,1.0,124.49,0.0,1.75,0.00,1.023056
5641,2,2025-07-01 07:00:45,2025-07-01 08:00:34,1.0,40.25,5.0,N,124,265,2,...,0.00,0.0,0.00,0.00,1.0,161.00,0.0,0.00,0.00,0.996944
7924,2,2025-07-01 07:56:17,2025-07-01 09:26:44,3.0,36.95,1.0,N,195,132,1,...,0.00,0.5,0.00,6.94,1.0,153.59,0.0,0.00,0.75,1.507500
8690,1,2025-07-01 08:31:29,2025-07-01 09:22:51,1.0,31.20,3.0,N,138,1,1,...,6.75,0.0,34.45,30.94,1.0,206.74,0.0,1.75,0.00,0.856111
9868,2,2025-07-01 08:33:02,2025-07-01 09:28:32,1.0,34.44,3.0,N,138,1,1,...,5.00,0.0,36.90,33.00,1.0,223.15,0.0,1.75,0.00,0.925000
10574,2,2025-07-01 08:56:07,2025-07-01 09:54:16,1.0,33.05,4.0,N,138,265,2,...,5.00,0.5,0.00,23.00,1.0,233.75,0.0,1.75,0.00,0.969167
12221,2,2025-07-01 08:54:45,2025-07-01 10:25:12,1.0,30.20,5.0,N,138,265,2,...,5.00,0.0,0.00,16.06,1.0,154.56,0.0,1.75,0.75,1.507500
12262,2,2025-07-01 08:59:49,2025-07-01 10:04:49,1.0,34.58,1.0,N,132,204,1,...,0.00,0.5,21.71,13.88,1.0,166.44,0.0,1.75,0.00,1.083333
14198,2,2025-07-01 09:43:58,2025-07-01 11:00:24,1.0,33.29,4.0,N,132,265,1,...,0.00,0.0,0.00,21.00,1.0,189.85,0.0,1.75,0.00,1.273889
14807,2,2025-07-01 09:39:02,2025-07-01 11:01:40,1.0,46.21,3.0,N,132,1,2,...,0.00,0.0,0.00,25.00,1.0,216.65,0.0,1.75,0.00,1.377222
17123,2,2025-07-01 09:29:28,2025-07-01 10:15:25,1.0,33.25,4.0,N,138,265,1,...,5.00,0.5,15.00,9.99,1.0,224.54,0.0,1.75,0.00,0.765833
20194,1,2025-07-01 10:28:39,2025-07-01 11:23:44,1.0,34.60,4.0,N,138,265,1,...,6.75,0.5,0.00,6.94,1.0,212.79,0.0,1.75,0.00,0.918056
20575,1,2025-07-01 10:24:21,2025-07-01 11:45:02,4.0,34.60,2.0,N,48,132,2,...,3.25,0.5,0.00,6.94,1.0,81.69,2.5,0.00,0.75,1.344722
21449,2,2025-07-01 10:36:45,2025-07-01 11:40:05,1.0,37.35,3.0,N,132,1,1,...,0.00,0.0,36.85,27.94,1.0,222.84,0.0,1.75,0.00,1.055556

In [44]:
df_rides_further_than_30.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration_hours
count,3078.000000,3078,3078,2859.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.00000,2859.000000,2859.000000,3078.000000,3078.000000
mean,1.845679,2025-07-16 22:57:42.416504,2025-07-17 00:02:31.649772,1.505072,35.996598,11.640676,136.670565,220.384665,1.236192,169.359847,1.378090,0.266569,17.511436,12.145042,0.986680,203.29037,0.325289,1.384575,0.179094,1.080343
min,1.000000,2025-07-01 00:23:53,2025-07-01 01:09:44,0.000000,30.010000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.76000,0.000000,0.000000,0.000000,0.002778
25%,2.000000,2025-07-09 13:58:54.500000,2025-07-09 15:22:42.500000,1.000000,31.935000,4.000000,132.000000,255.250000,1.000000,135.300000,0.000000,0.000000,0.000000,3.180000,1.000000,163.64250,0.000000,1.750000,0.000000,0.859722
50%,2.000000,2025-07-16 20:16:17.500000,2025-07-16 21:15:48.500000,1.000000,34.790000,4.000000,132.000000,265.000000,1.000000,164.700000,1.000000,0.500000,10.000000,6.940000,1.000000,203.42000,0.000000,1.750000,0.000000,1.027500
75%,2.000000,2025-07-24 20:36:49.500000,2025-07-24 21:37:05.250000,2.000000,38.650000,4.000000,132.000000,265.000000,1.000000,204.600000,1.750000,0.500000,34.250000,21.000000,1.000000,244.04750,0.000000,1.750000,0.000000,1.255833
max,2.000000,2025-07-31 23:47:19,2025-08-01 00:46:28,6.000000,50.000000,99.000000,265.000000,265.000000,4.000000,450.000000,12.500000,0.500000,131.000000,112.840000,1.000000,489.82000,2.500000,1.750000,0.750000,1.991667
std,0.361315,NaN,NaN,0.917651,4.967944,26.564058,37.833607,88.741628,0.796745,58.955829,2.003311,0.249491,19.537999,11.625950,0.114661,69.43124,0.841223,0.711432,0.319811,0.313418

The shortest duration for a ride further than 30 miles is 0.003 hours. That is suspicious, but maybe it was just a cancelled ride. We shall account for such rides as well.

## Handling missing data

In [45]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration_hours
count,3.592079e+06,3592079,3592079,2.724818e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,2.724818e+06,2.724818e+06,3.592079e+06,3.592079e+06
mean,1.801209e+00,2025-07-17 04:37:18.304574,2025-07-17 04:54:14.719727,1.312800e+00,3.514594e+00,2.622494e+01,1.595823e+02,1.593349e+02,9.141071e-01,2.051941e+01,1.224579e+00,4.945764e-01,2.857480e+00,5.366209e-01,9.842665e-01,2.905222e+01,2.256011e+00,1.719366e-01,5.560666e-01,2.823375e-01
min,1.000000e+00,2025-06-30 22:15:24,2025-06-30 22:25:07,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.777778e-04
25%,2.000000e+00,2025-07-09 20:45:56,2025-07-09 21:00:22,1.000000e+00,1.070000e+00,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,1.000000e+01,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.685000e+01,2.500000e+00,0.000000e+00,0.000000e+00,1.380556e-01
50%,2.000000e+00,2025-07-17 09:21:59,2025-07-17 09:40:14,1.000000e+00,1.900000e+00,1.000000e+00,1.610000e+02,1.610000e+02,1.000000e+00,1.490000e+01,0.000000e+00,5.000000e-01,2.000000e+00,0.000000e+00,1.000000e+00,2.226000e+01,2.500000e+00,0.000000e+00,7.500000e-01,2.263889e-01
75%,2.000000e+00,2025-07-24 19:22:58,2025-07-24 19:40:47,1.000000e+00,3.880000e+00,9.900000e+01,2.300000e+02,2.320000e+02,1.000000e+00,2.400000e+01,2.500000e+00,5.000000e-01,4.000000e+00,0.000000e+00,1.000000e+00,3.185000e+01,2.500000e+00,0.000000e+00,7.500000e-01,3.569444e-01
max,6.000000e+00,2025-07-31 23:59:59,2025-08-01 00:58:00,9.000000e+00,5.000000e+01,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,9.800000e+02,1.500000e+01,5.243380e+03,5.000000e+02,2.041800e+02,1.000000e+00,5.297870e+03,2.500000e+00,1.750000e+00,1.500000e+00,2.000000e+00
std,4.149318e-01,NaN,NaN,7.577247e-01,4.327938e+00,4.275526e+01,6.603517e+01,7.049945e+01,7.013423e-01,1.779070e+01,1.810859e+00,2.766950e+00,3.978067e+00,2.111996e+00,1.239030e-01,2.189734e+01,7.419167e-01,5.208906e-01,3.283949e-01,2.181586e-01

Seems that we only have the problem of missing values left. Let's look at the rows where passenger count or congestion_surcharge or airport_fee is absent.

First, let's check whether the same rows have all three values absent (since the count for all three is the same).

In [46]:
df[df['passenger_count'] >= 0].describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration_hours
count,2.724818e+06,2724818,2724818,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06,2.724818e+06
mean,1.786849e+00,2025-07-17 03:49:19.899925,2025-07-17 04:05:52.788418,1.312800e+00,3.474157e+00,3.061941e+00,1.632895e+02,1.631352e+02,1.205051e+00,2.012329e+01,1.607950e+00,4.930545e-01,3.666957e+00,5.911670e-01,9.799029e-01,2.987618e+01,2.256011e+00,1.719366e-01,5.693516e-01,2.758024e-01
min,1.000000e+00,2025-06-30 22:15:24,2025-06-30 22:25:07,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.777778e-04
25%,2.000000e+00,2025-07-09 19:30:03.250000,2025-07-09 19:44:58,1.000000e+00,1.000000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,9.300000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.655000e+01,2.500000e+00,0.000000e+00,7.500000e-01,1.255556e-01
50%,2.000000e+00,2025-07-17 07:19:21,2025-07-17 07:34:30.500000,1.000000e+00,1.720000e+00,1.000000e+00,1.610000e+02,1.620000e+02,1.000000e+00,1.350000e+01,1.000000e+00,5.000000e-01,2.950000e+00,0.000000e+00,1.000000e+00,2.190000e+01,2.500000e+00,0.000000e+00,7.500000e-01,2.091667e-01
75%,2.000000e+00,2025-07-24 17:03:18.750000,2025-07-24 17:25:09.750000,1.000000e+00,3.400000e+00,1.000000e+00,2.310000e+02,2.330000e+02,1.000000e+00,2.250000e+01,2.500000e+00,5.000000e-01,4.560000e+00,0.000000e+00,1.000000e+00,3.162000e+01,2.500000e+00,0.000000e+00,7.500000e-01,3.438889e-01
max,2.000000e+00,2025-07-31 23:59:58,2025-08-01 00:58:00,9.000000e+00,5.000000e+01,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,9.800000e+02,1.500000e+01,5.243380e+03,5.000000e+02,2.041800e+02,1.000000e+00,5.297870e+03,2.500000e+00,1.750000e+00,7.500000e-01,2.000000e+00
std,4.095334e-01,NaN,NaN,7.577247e-01,4.580323e+00,1.369750e+01,6.281802e+01,6.911592e+01,5.457431e-01,1.930823e+01,1.920908e+00,3.176854e+00,4.177087e+00,2.237414e+00,1.403326e-01,2.400782e+01,7.419167e-01,5.208906e-01,3.207062e-01,2.318816e-01

We see that all values are present, meaning the only rows with NaNs have all three values missing.

In [47]:
passenger_count_nan = df[~(df['passenger_count'] >= 0)]

In [48]:
passenger_count_nan.head(15)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration_hours
2860208,2,2025-07-01 00:06:31,2025-07-01 00:15:59,NaN,2.95,99.0,None,75,48,0,...,0.0,0.5,0.0,0.00,1.0,18.68,NaN,NaN,0.75,0.157778
2860209,2,2025-07-01 00:54:00,2025-07-01 01:00:46,NaN,1.01,99.0,None,68,249,0,...,0.0,0.5,0.0,0.00,1.0,10.98,NaN,NaN,0.75,0.112778
2860210,2,2025-07-01 00:31:20,2025-07-01 00:39:48,NaN,1.64,99.0,None,234,48,0,...,0.0,0.5,0.0,0.00,1.0,13.53,NaN,NaN,0.75,0.141111
2860211,2,2025-07-01 00:32:00,2025-07-01 00:50:00,NaN,2.99,99.0,None,48,4,0,...,0.0,0.5,0.0,0.00,1.0,22.14,NaN,NaN,0.75,0.300000
2860212,2,2025-07-01 00:25:07,2025-07-01 00:40:38,NaN,9.51,99.0,None,75,240,0,...,0.0,0.5,0.0,0.00,1.0,33.63,NaN,NaN,0.00,0.258611
2860214,2,2025-07-01 00:52:07,2025-07-01 01:05:03,NaN,2.84,99.0,None,125,137,0,...,0.0,0.5,0.0,0.00,1.0,19.43,NaN,NaN,0.75,0.215556
2860215,2,2025-07-01 00:39:56,2025-07-01 00:49:38,NaN,1.94,99.0,None,68,249,0,...,0.0,0.5,0.0,0.00,1.0,15.96,NaN,NaN,0.75,0.161667
2860216,2,2025-07-01 00:02:32,2025-07-01 00:19:57,NaN,7.67,99.0,None,42,4,0,...,0.0,0.5,0.0,0.00,1.0,28.97,NaN,NaN,0.75,0.290278
2860217,2,2025-07-01 00:42:14,2025-07-01 00:53:21,NaN,3.18,99.0,None,200,259,0,...,0.0,0.5,0.0,0.00,1.0,14.74,NaN,NaN,0.00,0.185278
2860220,2,2025-07-01 00:48:20,2025-07-01 00:58:33,NaN,3.06,99.0,None,161,79,0,...,0.0,0.5,0.0,0.00,1.0,18.96,NaN,NaN,0.75,0.170278
2860221,2,2025-07-01 00:15:01,2025-07-01 01:00:02,NaN,14.55,99.0,None,148,206,0,...,0.0,0.5,0.0,13.88,1.0,72.66,NaN,NaN,0.75,0.750278
2860222,2,2025-07-01 00:10:10,2025-07-01 00:28:53,NaN,3.46,99.0,None,140,74,0,...,0.0,0.5,0.0,0.00,1.0,20.80,NaN,NaN,0.00,0.311944
2860223,2,2025-07-01 00:56:52,2025-07-01 01:17:19,NaN,4.76,99.0,None,234,87,0,...,0.0,0.5,0.0,0.00,1.0,20.25,NaN,NaN,0.75,0.340833
2860224,2,2025-07-01 00:03:14,2025-07-01 00:17:11,NaN,2.56,99.0,None,164,4,0,...,0.0,0.5,0.0,0.00,1.0,18.91,NaN,NaN,0.75,0.232500
2860225,2,2025-07-01 00:42:17,2025-07-01 01:07:08,NaN,13.19,99.0,None,246,60,0,...,0.0,0.5,0.0,0.00,1.0,52.82,NaN,NaN,0.75,0.414167

In [49]:
passenger_count_nan.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration_hours
count,867261.000000,867261,867261,0.0,867261.000000,867261.0,867261.000000,867261.000000,867261.0,867261.000000,867261.000000,867261.000000,867261.000000,867261.000000,867261.000000,867261.000000,0.0,0.0,867261.000000,867261.000000
mean,1.846324,2025-07-17 07:08:01.866773,2025-07-17 07:26:12.199554,NaN,3.641639,99.0,147.934681,147.394751,0.0,21.763933,0.020076,0.499358,0.314212,0.365244,0.997976,26.463464,NaN,NaN,0.514327,0.302870
min,1.000000,2025-07-01 00:00:00,2025-07-01 00:06:55,NaN,0.000000,99.0,1.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000278
25%,2.000000,2025-07-10 02:27:04,2025-07-10 02:42:49,NaN,1.420000,99.0,80.000000,80.000000,0.0,13.580000,0.000000,0.500000,0.000000,0.000000,1.000000,17.830000,NaN,NaN,0.000000,0.186667
50%,2.000000,2025-07-17 17:20:00,2025-07-17 17:41:32,NaN,2.650000,99.0,148.000000,148.000000,0.0,19.250000,0.000000,0.500000,0.000000,0.000000,1.000000,23.630000,NaN,NaN,0.750000,0.271944
75%,2.000000,2025-07-25 08:24:31,2025-07-25 08:43:08,NaN,4.890000,99.0,229.000000,229.000000,0.0,27.370000,0.000000,0.500000,0.000000,0.000000,1.000000,32.000000,NaN,NaN,0.750000,0.383333
max,6.000000,2025-07-31 23:59:59,2025-08-01 00:43:51,NaN,50.000000,99.0,265.000000,265.000000,0.0,450.780000,10.000000,10.500000,42.140000,42.000000,1.000000,455.530000,NaN,NaN,1.500000,2.000000
std,0.428333,NaN,NaN,NaN,3.412608,0.0,74.055597,73.410656,0.0,11.729618,0.276254,0.034541,1.482802,1.645581,0.038268,12.894532,NaN,NaN,0.348177,0.166233

Apart from ratecode and payment_type also missing in such rows, there is nothing unusual

In [50]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration_hours
count,3.592079e+06,3592079,3592079,2.724818e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,2.724818e+06,2.724818e+06,3.592079e+06,3.592079e+06
mean,1.801209e+00,2025-07-17 04:37:18.304574,2025-07-17 04:54:14.719727,1.312800e+00,3.514594e+00,2.622494e+01,1.595823e+02,1.593349e+02,9.141071e-01,2.051941e+01,1.224579e+00,4.945764e-01,2.857480e+00,5.366209e-01,9.842665e-01,2.905222e+01,2.256011e+00,1.719366e-01,5.560666e-01,2.823375e-01
min,1.000000e+00,2025-06-30 22:15:24,2025-06-30 22:25:07,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.777778e-04
25%,2.000000e+00,2025-07-09 20:45:56,2025-07-09 21:00:22,1.000000e+00,1.070000e+00,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,1.000000e+01,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.685000e+01,2.500000e+00,0.000000e+00,0.000000e+00,1.380556e-01
50%,2.000000e+00,2025-07-17 09:21:59,2025-07-17 09:40:14,1.000000e+00,1.900000e+00,1.000000e+00,1.610000e+02,1.610000e+02,1.000000e+00,1.490000e+01,0.000000e+00,5.000000e-01,2.000000e+00,0.000000e+00,1.000000e+00,2.226000e+01,2.500000e+00,0.000000e+00,7.500000e-01,2.263889e-01
75%,2.000000e+00,2025-07-24 19:22:58,2025-07-24 19:40:47,1.000000e+00,3.880000e+00,9.900000e+01,2.300000e+02,2.320000e+02,1.000000e+00,2.400000e+01,2.500000e+00,5.000000e-01,4.000000e+00,0.000000e+00,1.000000e+00,3.185000e+01,2.500000e+00,0.000000e+00,7.500000e-01,3.569444e-01
max,6.000000e+00,2025-07-31 23:59:59,2025-08-01 00:58:00,9.000000e+00,5.000000e+01,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,9.800000e+02,1.500000e+01,5.243380e+03,5.000000e+02,2.041800e+02,1.000000e+00,5.297870e+03,2.500000e+00,1.750000e+00,1.500000e+00,2.000000e+00
std,4.149318e-01,NaN,NaN,7.577247e-01,4.327938e+00,4.275526e+01,6.603517e+01,7.049945e+01,7.013423e-01,1.779070e+01,1.810859e+00,2.766950e+00,3.978067e+00,2.111996e+00,1.239030e-01,2.189734e+01,7.419167e-01,5.208906e-01,3.283949e-01,2.181586e-01

### Airport_fees

Most of the airport fees seem to be 0, which is quite logical, since people don't go to airports too often. Let's explore those, where they aren't.

In [52]:
airport_fee_not_0 = df[df['Airport_fee'] > 0]

In [54]:
airport_fee_not_0.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration_hours
count,267712.000000,267712,267712,267712.000000,267712.000000,267712.000000,267712.000000,267712.000000,267712.000000,267712.000000,267712.000000,267712.000000,267712.000000,267712.000000,267712.000000,267712.000000,267712.000000,267712.00,267712.000000,267712.000000
mean,1.857007,2025-07-16 18:48:40.831755,2025-07-16 19:25:07.938071,1.427220,12.790580,1.523484,132.235148,152.484666,1.317961,54.785190,3.280454,0.494940,8.864406,3.599567,0.999989,74.894476,1.287923,1.75,0.317874,0.607530
min,1.000000,2025-07-01 00:00:25,2025-07-01 00:08:02,0.000000,0.000000,1.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.750000,0.000000,1.75,0.000000,0.000556
25%,2.000000,2025-07-09 02:16:05.500000,2025-07-09 02:39:03,1.000000,8.700000,1.000000,132.000000,90.000000,1.000000,38.700000,0.000000,0.500000,0.000000,0.000000,1.000000,57.450000,0.000000,1.75,0.000000,0.376111
50%,2.000000,2025-07-16 15:14:07,2025-07-16 15:59:51,1.000000,11.400000,1.000000,132.000000,158.000000,1.000000,53.400000,2.500000,0.500000,10.000000,0.000000,1.000000,75.630000,2.500000,1.75,0.000000,0.571944
75%,2.000000,2025-07-24 09:19:10.250000,2025-07-24 10:03:25.750000,2.000000,17.620000,2.000000,138.000000,230.000000,1.000000,70.000000,5.000000,0.500000,14.720000,6.940000,1.000000,93.440000,2.500000,1.75,0.750000,0.809167
max,2.000000,2025-07-31 23:59:50,2025-08-01 00:46:28,9.000000,50.000000,5.000000,265.000000,265.000000,4.000000,850.000000,15.000000,5243.380000,150.000000,112.840000,1.000000,5297.870000,2.500000,1.75,0.750000,1.999722
std,0.350067,NaN,NaN,0.820708,6.136393,0.918817,12.061984,74.667883,0.709109,25.026688,3.090594,10.133578,7.362111,4.041577,0.003348,31.898030,1.249427,0.00,0.370624,0.310852

Nothing seems unusual. The fee, however is the same.

Let's just set NaNs in the column as 0, since that is a more likely scenario (the driver just not putting info about airport fee, since there was none)

In [59]:
df['Airport_fee'].fillna(0, inplace = True)

### Passenger count

In [60]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration_hours
count,3.592079e+06,3592079,3592079,2.724818e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,2.724818e+06,3.592079e+06,3.592079e+06,3.592079e+06
mean,1.801209e+00,2025-07-17 04:37:18.304574,2025-07-17 04:54:14.719727,1.312800e+00,3.514594e+00,2.622494e+01,1.595823e+02,1.593349e+02,9.141071e-01,2.051941e+01,1.224579e+00,4.945764e-01,2.857480e+00,5.366209e-01,9.842665e-01,2.905222e+01,2.256011e+00,1.304247e-01,5.560666e-01,2.823375e-01
min,1.000000e+00,2025-06-30 22:15:24,2025-06-30 22:25:07,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.777778e-04
25%,2.000000e+00,2025-07-09 20:45:56,2025-07-09 21:00:22,1.000000e+00,1.070000e+00,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,1.000000e+01,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.685000e+01,2.500000e+00,0.000000e+00,0.000000e+00,1.380556e-01
50%,2.000000e+00,2025-07-17 09:21:59,2025-07-17 09:40:14,1.000000e+00,1.900000e+00,1.000000e+00,1.610000e+02,1.610000e+02,1.000000e+00,1.490000e+01,0.000000e+00,5.000000e-01,2.000000e+00,0.000000e+00,1.000000e+00,2.226000e+01,2.500000e+00,0.000000e+00,7.500000e-01,2.263889e-01
75%,2.000000e+00,2025-07-24 19:22:58,2025-07-24 19:40:47,1.000000e+00,3.880000e+00,9.900000e+01,2.300000e+02,2.320000e+02,1.000000e+00,2.400000e+01,2.500000e+00,5.000000e-01,4.000000e+00,0.000000e+00,1.000000e+00,3.185000e+01,2.500000e+00,0.000000e+00,7.500000e-01,3.569444e-01
max,6.000000e+00,2025-07-31 23:59:59,2025-08-01 00:58:00,9.000000e+00,5.000000e+01,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,9.800000e+02,1.500000e+01,5.243380e+03,5.000000e+02,2.041800e+02,1.000000e+00,5.297870e+03,2.500000e+00,1.750000e+00,1.500000e+00,2.000000e+00
std,4.149318e-01,NaN,NaN,7.577247e-01,4.327938e+00,4.275526e+01,6.603517e+01,7.049945e+01,7.013423e-01,1.779070e+01,1.810859e+00,2.766950e+00,3.978067e+00,2.111996e+00,1.239030e-01,2.189734e+01,7.419167e-01,4.596006e-01,3.283949e-01,2.181586e-01

Let's inspect the rows where passenger_count is 0

In [62]:
passenger_count_0 = df[df['passenger_count'] == 0]
passenger_count_0.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration_hours
count,20275.000000,20275,20275,20275.0,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000
mean,1.068903,2025-07-17 07:38:31.241677,2025-07-17 07:52:42.653514,0.0,2.685260,1.065894,166.309297,166.598619,1.229889,16.877775,3.650666,0.495327,3.150566,0.400350,0.999309,25.781057,2.326190,0.089075,0.561455,0.236503
min,1.000000,2025-07-01 00:04:35,2025-07-01 00:16:10,0.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000278
25%,1.000000,2025-07-09 21:00:20.500000,2025-07-09 21:13:11.500000,0.0,0.900000,1.000000,137.000000,127.000000,1.000000,8.600000,3.250000,0.500000,0.795000,0.000000,1.000000,15.450000,2.500000,0.000000,0.000000,0.111389
50%,1.000000,2025-07-17 10:25:03,2025-07-17 10:37:03,0.0,1.500000,1.000000,162.000000,163.000000,1.000000,12.100000,3.250000,0.500000,2.650000,0.000000,1.000000,20.150000,2.500000,0.000000,0.750000,0.186667
75%,1.000000,2025-07-24 20:03:43.500000,2025-07-24 20:17:14,0.0,2.715000,1.000000,234.000000,234.000000,1.000000,19.100000,4.250000,0.500000,4.100000,0.000000,1.000000,28.050000,2.500000,0.000000,0.750000,0.303611
max,2.000000,2025-07-31 23:57:30,2025-08-01 00:21:12,0.0,39.100000,5.000000,265.000000,265.000000,4.000000,250.000000,12.500000,4.750000,100.000000,55.000000,1.000000,251.500000,2.500000,1.750000,0.750000,1.894722
std,0.253295,NaN,NaN,0.0,3.506302,0.434184,64.195116,68.691182,0.530861,14.919517,1.785878,0.057538,3.553513,1.916687,0.026269,18.850512,0.635815,0.384649,0.325369,0.189551

In [63]:
passenger_count_0.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration_hours
32,1,2025-07-01 00:59:48,2025-07-01 01:05:43,0.0,0.70,1.0,N,233,162,1,...,4.25,0.5,2.45,0.00,1.0,14.70,2.5,0.00,0.75,0.098611
51,1,2025-07-01 00:04:35,2025-07-01 00:16:10,0.0,2.40,1.0,N,186,229,1,...,4.25,0.5,3.85,0.00,1.0,23.10,2.5,0.00,0.75,0.193056
52,1,2025-07-01 00:52:09,2025-07-01 01:06:21,0.0,3.20,1.0,N,141,41,2,...,3.50,0.5,0.00,0.00,1.0,21.30,2.5,0.00,0.00,0.236667
129,1,2025-07-01 00:09:32,2025-07-01 00:36:37,0.0,18.10,2.0,N,132,79,1,...,5.00,0.5,11.48,0.00,1.0,87.98,2.5,1.75,0.75,0.451389
150,1,2025-07-01 00:59:02,2025-07-01 01:23:54,0.0,10.80,1.0,N,138,143,1,...,10.25,0.5,12.45,6.94,1.0,74.74,2.5,1.75,0.00,0.414444
276,1,2025-07-01 00:22:24,2025-07-01 00:56:10,0.0,16.20,1.0,N,132,36,1,...,2.75,0.5,0.10,0.00,1.0,67.55,0.0,1.75,0.00,0.562778
1561,1,2025-07-01 01:38:01,2025-07-01 01:56:35,0.0,4.70,1.0,N,114,263,1,...,4.25,0.5,2.00,0.00,1.0,28.95,2.5,0.00,0.75,0.309444
1841,1,2025-07-01 01:29:43,2025-07-01 02:04:51,0.0,17.80,2.0,N,132,246,1,...,5.00,0.5,16.65,6.94,1.0,100.09,2.5,1.75,0.75,0.585556
1914,1,2025-07-01 01:51:35,2025-07-01 02:03:29,0.0,2.80,1.0,N,114,246,1,...,4.25,0.5,10.00,0.00,1.0,30.65,2.5,0.00,0.75,0.198333
1917,1,2025-07-01 01:02:22,2025-07-01 01:11:24,0.0,2.00,1.0,N,4,170,1,...,4.25,0.5,2.00,0.00,1.0,19.15,2.5,0.00,0.75,0.150556
1996,1,2025-07-01 01:00:06,2025-07-01 01:14:17,0.0,3.10,1.0,N,144,48,2,...,4.25,0.5,0.00,0.00,1.0,22.75,2.5,0.00,0.75,0.236389
1997,1,2025-07-01 01:57:05,2025-07-01 02:10:19,0.0,3.00,1.0,N,107,48,1,...,4.25,0.5,2.00,0.00,1.0,24.05,2.5,0.00,0.75,0.220556
2065,1,2025-07-01 01:47:01,2025-07-01 01:54:01,0.0,1.30,1.0,N,186,246,2,...,4.25,0.5,0.00,0.00,1.0,15.05,2.5,0.00,0.75,0.116667
2721,1,2025-07-01 02:05:08,2025-07-01 02:19:36,0.0,2.00,1.0,N,48,137,1,...,4.25,0.5,4.10,0.00,1.0,24.75,2.5,0.00,0.75,0.241111
2723,1,2025-07-01 02:00:14,2025-07-01 02:15:43,0.0,3.20,1.0,N,4,68,1,...,4.25,0.5,6.20,0.00,1.0,31.05,2.5,0.00,0.75,0.258056
2767,1,2025-07-01 02:36:38,2025-07-01 02:47:16,0.0,2.20,1.0,N,79,186,2,...,4.25,0.5,0.00,0.00,1.0,19.25,2.5,0.00,0.75,0.177222
3100,2,2025-07-01 03:06:07,2025-07-01 03:14:53,0.0,1.16,1.0,N,170,68,1,...,1.00,0.5,4.72,0.00,1.0,20.47,2.5,0.00,0.75,0.146111
3649,1,2025-07-01 05:32:08,2025-07-01 05:37:23,0.0,1.60,1.0,N,238,142,1,...,4.25,0.5,2.00,0.00,1.0,17.05,2.5,0.00,0.75,0.087500
3650,1,2025-07-01 05:39:58,2025-07-01 05:50:00,0.0,2.90,1.0,N,142,75,2,...,3.50,0.5,0.00,0.00,1.0,19.20,2.5,0.00,0.00,0.167222
3662,1,2025-07-01 05:48:30,2025-07-01 05:53:00,0.0,0.80,1.0,N,100,161,1,...,4.25,0.5,1.47,0.00,1.0,13.72,2.5,0.00,0.75,0.075000

Looks like normal rides. Maybe there are just mistakes with the number of passengers or cancelled rides or taxi delivered a package. Since in most cases there is just one passenger (judging from 'describe' - 75%), we'll replace 0 and NaNs with 1.

In [64]:
df['passenger_count'].fillna(1, inplace = True)
df['passenger_count'].replace(0, 1, inplace = True)

### Congestion subcharge

In [66]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration_hours
count,3.592079e+06,3592079,3592079,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,3.592079e+06,2.724818e+06,3.592079e+06,3.592079e+06,3.592079e+06
mean,1.801209e+00,2025-07-17 04:37:18.304574,2025-07-17 04:54:14.719727,1.242923e+00,3.514594e+00,2.622494e+01,1.595823e+02,1.593349e+02,9.141071e-01,2.051941e+01,1.224579e+00,4.945764e-01,2.857480e+00,5.366209e-01,9.842665e-01,2.905222e+01,2.256011e+00,1.304247e-01,5.560666e-01,2.823375e-01
min,1.000000e+00,2025-06-30 22:15:24,2025-06-30 22:25:07,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.777778e-04
25%,2.000000e+00,2025-07-09 20:45:56,2025-07-09 21:00:22,1.000000e+00,1.070000e+00,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,1.000000e+01,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.685000e+01,2.500000e+00,0.000000e+00,0.000000e+00,1.380556e-01
50%,2.000000e+00,2025-07-17 09:21:59,2025-07-17 09:40:14,1.000000e+00,1.900000e+00,1.000000e+00,1.610000e+02,1.610000e+02,1.000000e+00,1.490000e+01,0.000000e+00,5.000000e-01,2.000000e+00,0.000000e+00,1.000000e+00,2.226000e+01,2.500000e+00,0.000000e+00,7.500000e-01,2.263889e-01
75%,2.000000e+00,2025-07-24 19:22:58,2025-07-24 19:40:47,1.000000e+00,3.880000e+00,9.900000e+01,2.300000e+02,2.320000e+02,1.000000e+00,2.400000e+01,2.500000e+00,5.000000e-01,4.000000e+00,0.000000e+00,1.000000e+00,3.185000e+01,2.500000e+00,0.000000e+00,7.500000e-01,3.569444e-01
max,6.000000e+00,2025-07-31 23:59:59,2025-08-01 00:58:00,9.000000e+00,5.000000e+01,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,9.800000e+02,1.500000e+01,5.243380e+03,5.000000e+02,2.041800e+02,1.000000e+00,5.297870e+03,2.500000e+00,1.750000e+00,1.500000e+00,2.000000e+00
std,4.149318e-01,NaN,NaN,6.671516e-01,4.327938e+00,4.275526e+01,6.603517e+01,7.049945e+01,7.013423e-01,1.779070e+01,1.810859e+00,2.766950e+00,3.978067e+00,2.111996e+00,1.239030e-01,2.189734e+01,7.419167e-01,4.596006e-01,3.283949e-01,2.181586e-01

Seems that almost all values in the column 'congestion surcharge' are 2.5.

In [67]:
np.unique(df['congestion_surcharge'])

array([0.  , 0.75, 1.  , 2.5 ,  nan])

In [74]:
print((df['congestion_surcharge'] == 0).sum(),
      (df['congestion_surcharge'] == 0.75).sum(),
      (df['congestion_surcharge'] == 1).sum(),
      (df['congestion_surcharge'] == 2.5).sum())

265928 1 3 2458886

Indeed the value 2.5 is dominating. 0.75, 1 may be mistakes.

Let's set NaNs in the column to 2.5.

In [75]:
df['congestion_surcharge'].fillna(2.5, inplace = True)